.idea/
settings.json
sportTracker.db
uploads/
data/
testreport.xml
tests/screenshots/
**/node_modules/

**/static/js/libs/*.svg
**/static/js/libs/*.png
**/static/js/libs/*.gif
**/static/js/libs/*.txt
**/static/js/libs/main.css
**/static/js/libs/*.js
**/static/js/libs/bundles.json
**/static/js/libs/libs*
!**/static/js/libs/fontawesome.min.js
!**/static/js/libs/fontawesome.solid.min.js
