<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <h1>{{ gettext('Charts') }}</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <a href="{{ url_for('charts.chartDistancePerMonth') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle me-3">bar_chart</span>
                            <span class="fs-3 text-light">{{ gettext('Distance per Month') }}</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('charts.chartDistancePerYear') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle me-3">bar_chart</span>
                            <span class="fs-3 text-light">{{ gettext('Distance per Year') }}</span>
                        </a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <a href="{{ url_for('charts.chartAverageSpeed') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle me-3">bar_chart</span>
                            <span class="fs-3 text-light">{{ gettext('Average Speed') }}</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('charts.chartDistancePerCustomFieldChooser') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle me-3">pie_chart</span>
                            <span class="fs-3 text-light">{{ gettext('Distance per Custom Field') }}</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
