<!DOCTYPE html>
<html>
    <head>
        <title>SportTracker - Login</title>
        {% import 'macros.jinja2' as macros %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark">
        <div class="container vh-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="login-form bg-light p-4">
                        <form action="{{ url_for('authentication.login') }}" method="post" class="row g-3">
                            <h4>SportTracker</h4>
                            <div class="col-10">
                                <input type="password" name="password" class="form-control" placeholder="">
                            </div>

                            <div class="col-2">
                                <button type="submit" class="btn btn-dark">Login</button>
                            </div>

                            {% if message %}
                                <div class="col-12 text-center text-danger">
                                    <i class="material-icons align-middle">warning</i>
                                    <span id="loginMessage" class="align-middle">{{ message }}</span>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
