<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Map') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('map') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container d-flex">
                <div id="map" class="w-100"></div>
            </section>
        </div>

        <script>
            gpxInfo = {{ gpxInfo }};
        </script>

        {{ macros.scripts() }}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
        <script defer src="{{ url_for('static', filename='js/map.js') }}" type="text/javascript"></script>
    </body>
</html>
