<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - Goals</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('monthGoals') }}

        {% import 'monthGoalsMacros.jinja2' as monthGoalsMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col-12 mx-auto">
                        <h1>Month Goals <a href="{{ url_for('monthGoals.add') }}"
                                           class="link-light text-decoration-none d-flex-inline align-items-center">
                            <span class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span>
                        </a>
                        </h1>
                    </div>
                </div>

                {% for goalSummary in monthGoalSummaries %}
                    {{ monthGoalsMacros.render_month_goal_summary_card(goalSummary) }}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
