<!DOCTYPE html>

{% macro render_month_goal_summary_card(goalSummary) -%}
    <div class="row py-lg-3">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="row g-0 d-flex align-items-center p-2">
                    <div class="col-4 text-start fs-4 ps-3">
                        {{ goalSummary.name }}
                    </div>
                    <div class="col-5">
                        <div class="progress" role="progressbar">
                            <div class="progress-bar {{ goalSummary.color }}" style="width: {{ goalSummary.percentage }}%"></div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="fs-5">{{ goalSummary.actual_distance }}/{{ goalSummary.goal_distance_perfect }} km</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - Goals</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('monthGoals') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col-12 mx-auto">
                        <h1>Month Goals <a href="{{ url_for('monthGoals.add') }}"
                                           class="link-light text-decoration-none d-flex-inline align-items-center">
                            <span class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span>
                        </a>
                        </h1>
                    </div>
                </div>

                {% for goalSummary in monthGoalSummaries %}
                    {{ render_month_goal_summary_card(goalSummary) }}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
