<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - New Month Goal</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <h1>New Month Goal</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <a href="{{ url_for('monthGoalsDistance.add') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-light bg-secondary me-3">route</span>
                            <span class="fs-3 text-light">New Distance Goal</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('monthGoalsCount.add') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle me-3">format_list_numbered</span>
                            <span class="fs-3 text-light">New Count Goal</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
