<!DOCTYPE html>

{% macro render_track_card(track) -%}
    <div class="row py-2">
        <div class="col-8 mx-auto">
            <a href="{{ url_for('tracks.edit', track_id=track.id) }}" class="text-decoration-none">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark {{ track.type.background_color }}">{{ track.type.icon }}</span>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title text-truncate text-start">{{ track.name }}</h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="fs-4">{{ track.distance / 1000 }} km</div>

                                    <div class="fs-4">{{ track.duration | format_duration }} h</div>

                                    {% if track.duration is none %}
                                        <div class="fs-4">--.- km/h</div>
                                    {% else %}
                                        <div class="fs-4">{{ (track.distance / track.duration * 3.6) | round(1)}} km/h</div>
                                    {% endif %}

                                    {% if track.averageHeartRate is none %}
                                        <div class="fs-4">- bpm</div>
                                    {% else %}
                                        <div class="fs-4">{{ track.averageHeartRate }} bpm</div>
                                    {% endif %}

                                    <div class="fs-6 me-2 text-body-secondary">{{ track.startTime.strftime('%d.%m.%y') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - Tracks</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        {% import 'monthGoalsMacros.jinja2' as monthGoalsMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <h1>Tracks <a href="{{ url_for('tracks.add') }}"
                                      class="link-light text-decoration-none d-flex-inline align-items-center"><span
                                class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span></a></h1>
                    </div>
                </div>

                {% for monthModel in tracksByMonth %}
                    <h3 class="mt-4">{{ monthModel.name }}</h3>
                    <div class="py-2">
                        {% for goal in monthModel.goals %}
                            <div class="row">
                                <div class="col-lg-7 col-md-8 mx-auto">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex align-items-center">
                                            <span class="material-icons fs-5 py-1 text-light">{{ goal.type.icon }}</span>
                                            <span class="me-3 text-end" style="white-space: nowrap; width: 4.75rem;">{{ goal.actual_distance | format_actual_distance }} km</span>
                                            <div class="d-inline-block" style="width: 100%; height: 100%;">
                                                {{ monthGoalsMacros.render_month_goal_progress_bar(goal) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%  endfor %}
                    </div>

                    {% for track in monthModel.tracks %}
                        {{ render_track_card(track) }}
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
