<!DOCTYPE html>

{% macro render_track_card(track) -%}
    <div class="row py-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <a href="{{ url_for('tracks.edit', track_id=track.id) }}" class="text-decoration-none">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <span class="material-icons rounded-circle fs-1 p-3 {{ track.type.background_color }}">{{ track.type.icon }}</span>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title text-truncate text-start">{{ track.name }}</h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="fs-3">{{ track.distance / 1000 }} km</div>
                                    <div class="fs-3">{{ track.duration | format_duration }} h</div>
                                    <div class="fs-6 me-2 text-body-secondary">{{ track.startTime.strftime('%d.%m.%y') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - Tracks</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        {% import 'monthGoalsMacros.jinja2' as monthGoalsMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <h1>Tracks <a href="{{ url_for('tracks.add') }}"
                                      class="link-light text-decoration-none d-flex-inline align-items-center"><span
                                class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span></a></h1>
                    </div>
                </div>

                {% for monthModel in tracksByMonth %}
                    <h3 class="mt-4">{{ monthModel.name }}</h3>
                    <div class="row py-lg-3">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            {{ monthGoalsMacros.render_month_goal_progress_bar(monthModel.goal) }}
                        </div>
                    </div>

                    {% for track in monthModel.tracks %}
                        {{ render_track_card(track) }}
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
