<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('New Track') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <h1>{{ gettext('New Track') }}</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <a href="{{ url_for('tracks.addType', track_type='BIKING') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-warning me-3">directions_bike</span>
                            <span class="fs-3 text-light">{{ gettext('New Biking Track') }}</span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="{{ url_for('tracks.addType', track_type='RUNNING') }}"
                           class="btn btn-link d-flex align-items-center justify-content-center text-decoration-none">
                            <span class="material-icons rounded-circle fs-1 p-3 text-dark bg-info me-3">directions_run</span>
                            <span class="fs-3 text-light">{{ gettext('New Running Track') }}</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
