{% macro mapLocale() -%}
    <script>
        map_locale = {
            'Acceleration': '{{ gettext('Acceleration') }}',
            'Altitude': '{{ gettext('Altitude') }}',
            'Slope': '{{ gettext('Slope') }}',
            'Speed': '{{ gettext('Speed') }}',
            'Total Length: ': '{{ gettext('Total Length: ') }}',
            'Max Elevation: ': '{{ gettext('Max Elevation: ') }}',
            'Min Elevation: ': '{{ gettext('Min Elevation: ') }}',
            'Avg Elevation: ': '{{ gettext('Avg Elevation: ') }}',
            'Total Time: ': '{{ gettext('Total Time: ') }}',
            'Total Ascent: ': '{{ gettext('Total Ascent: ') }}',
            'Total Descent: ': '{{ gettext('Total Descent: ') }}',
            'Min Slope: ': '{{ gettext('Min Slope: ') }}',
            'Max Slope: ': '{{ gettext('Max Slope: ') }}',
            'Avg Slope: ': '{{ gettext('Avg Slope: ') }}',
            'Min Speed: ': '{{ gettext('Min Speed: ') }}',
            'Max Speed: ': '{{ gettext('Max Speed: ') }}',
            'Avg Speed: ': '{{ gettext('Avg Speed: ') }}',
            'Min Acceleration: ': '{{ gettext('Min Acceleration: ') }}',
            'Max Acceleration: ': '{{ gettext('Max Acceleration: ') }}',
            'Avg Acceleration: ': '{{ gettext('Avg Acceleration: ') }}',
            'y: ': '{{ gettext('y: ') }}',
            'x: ': '{{ gettext('x: ') }}',
            't: ': '{{ gettext('t: ') }}',
            'T: ': '{{ gettext('T: ') }}',
            'm: ': '{{ gettext('m: ') }}',
            'v: ': '{{ gettext('v: ') }}',
            'a: ': '{{ gettext('a: ') }}',
            'button_expand_layers': '{{ gettext('Expand Legend') }}',
            'button_collapse_layers': '{{ gettext('Collapse Legend') }}',
        };
    </script>
{%- endmacro %}


