{% macro mapLocale() -%}
    <script>
        map_locale = {
            'Acceleration': '{{ gettext('Acceleration') }}',
            'Altitude': '{{ gettext('Altitude') }}',
            'Slope': '{{ gettext('Slope') }}',
            'Speed': '{{ gettext('Speed') }}',
            'Total Length: ': '{{ gettext('Total Length: ') }}',
            'Max Elevation: ': '{{ gettext('Max Elevation: ') }}',
            'Min Elevation: ': '{{ gettext('Min Elevation: ') }}',
            'Avg Elevation: ': '{{ gettext('Avg Elevation: ') }}',
            'Total Time: ': '{{ gettext('Total Time: ') }}',
            'Total Ascent: ': '{{ gettext('Total Ascent: ') }}',
            'Total Descent: ': '{{ gettext('Total Descent: ') }}',
            'Min Slope: ': '{{ gettext('Min Slope: ') }}',
            'Max Slope: ': '{{ gettext('Max Slope: ') }}',
            'Avg Slope: ': '{{ gettext('Avg Slope: ') }}',
            'Min Speed: ': '{{ gettext('Min Speed: ') }}',
            'Max Speed: ': '{{ gettext('Max Speed: ') }}',
            'Avg Speed: ': '{{ gettext('Avg Speed: ') }}',
            'Min Acceleration: ': '{{ gettext('Min Acceleration: ') }}',
            'Max Acceleration: ': '{{ gettext('Max Acceleration: ') }}',
            'Avg Acceleration: ': '{{ gettext('Avg Acceleration: ') }}',
            'y: ': '{{ gettext('y: ') }}',
            'x: ': '{{ gettext('x: ') }}',
            't: ': '{{ gettext('t: ') }}',
            'T: ': '{{ gettext('T: ') }}',
            'm: ': '{{ gettext('m: ') }}',
            'v: ': '{{ gettext('v: ') }}',
            'a: ': '{{ gettext('a: ') }}',
            'button_expand_layers': '{{ gettext('Expand Legend') }}',
            'button_collapse_layers': '{{ gettext('Collapse Legend') }}',
        };
    </script>
{%- endmacro %}

{% macro meta_info_item(icon, iconColor, title, iconClass='material-icons') -%}
    <div class="d-flex flex-column align-items-start mb-4">
        <div class="d-flex align-items-start">
            <div class="{{ iconClass }} {{ iconColor }} fs-3 me-2">{{ icon }}</div>
            <div>
                <div class="fs-5 text-body-secondary">{{ title }}</div>
                <div class="fs-4 text-body-emphasis">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro meta_info_item_small(icon, iconColor, subText, iconClass='material-icons') -%}
   <div class="col d-flex flex-column align-items-center justify-content-between">
        <div class="{{ iconClass }} {{ iconColor }} fs-3 mb-2">{{ icon }}</div>
        <div class="fs-5 text-center text-body-emphasis">
            {{ caller() }}
        </div>
        <div class="fs-6 text-body-secondary text-center text-truncate">{{ gettext(subText) }}</div>
    </div>
{%- endmacro %}


{% macro gpxDownloadButton(title, gpxUrl, classes='') -%}
    <div class="card-header d-flex align-items-center {{ classes }} justify-content-between">
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-lightbulb fa-fw fs-5 me-2"></i>
            <div class="fs-5 text-truncate">
                {{ title }}
            </div>
        </div>
        <a href="{{ gpxUrl }}"
           class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
           target="_blank">
            <span class="material-icons fs-4">download</span> <span>GPX</span>
        </a>
    </div>
{%- endmacro %}

