{% macro mapLocale() -%}
    <script>
        map_locale = {
            'Acceleration': '{{ gettext('Acceleration') }}',
            'Altitude': '{{ gettext('Altitude') }}',
            'Slope': '{{ gettext('Slope') }}',
            'Speed': '{{ gettext('Speed') }}',
            'Total Length: ': '{{ gettext('Total Length: ') }}',
            'Max Elevation: ': '{{ gettext('Max Elevation: ') }}',
            'Min Elevation: ': '{{ gettext('Min Elevation: ') }}',
            'Avg Elevation: ': '{{ gettext('Avg Elevation: ') }}',
            'Total Time: ': '{{ gettext('Total Time: ') }}',
            'Total Ascent: ': '{{ gettext('Total Ascent: ') }}',
            'Total Descent: ': '{{ gettext('Total Descent: ') }}',
            'Min Slope: ': '{{ gettext('Min Slope: ') }}',
            'Max Slope: ': '{{ gettext('Max Slope: ') }}',
            'Avg Slope: ': '{{ gettext('Avg Slope: ') }}',
            'Min Speed: ': '{{ gettext('Min Speed: ') }}',
            'Max Speed: ': '{{ gettext('Max Speed: ') }}',
            'Avg Speed: ': '{{ gettext('Avg Speed: ') }}',
            'Min Acceleration: ': '{{ gettext('Min Acceleration: ') }}',
            'Max Acceleration: ': '{{ gettext('Max Acceleration: ') }}',
            'Avg Acceleration: ': '{{ gettext('Avg Acceleration: ') }}',
            'y: ': '{{ gettext('y: ') }}',
            'x: ': '{{ gettext('x: ') }}',
            't: ': '{{ gettext('t: ') }}',
            'T: ': '{{ gettext('T: ') }}',
            'm: ': '{{ gettext('m: ') }}',
            'v: ': '{{ gettext('v: ') }}',
            'a: ': '{{ gettext('a: ') }}',
            'button_expand_layers': '{{ gettext('Expand Legend') }}',
            'button_collapse_layers': '{{ gettext('Collapse Legend') }}',
        };
    </script>
{%- endmacro %}

{% macro meta_info_item(icon, iconColor, title, iconClass='material-symbols-outlined filled') -%}
    <div class="d-flex flex-column align-items-start mb-4">
        <div class="d-flex align-items-start">
            <div class="{{ iconClass }} {{ iconColor }} fs-3 me-2">{{ icon }}</div>
            <div>
                <div class="fs-5 text-body-secondary">{{ title }}</div>
                <div class="fs-4 text-body-emphasis">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro meta_info_item_small(icon, iconColor, subText, iconClass='material-symbols-outlined filled') -%}
    <div class="col d-flex flex-column align-items-center justify-content-between">
        <div class="{{ iconClass }} {{ iconColor }} fs-3 mb-2">{{ icon }}</div>
        <div class="fs-5 text-center text-body-emphasis">
            {{ caller() }}
        </div>
        <div class="fs-6 text-body-secondary text-center text-truncate">{{ gettext(subText) }}</div>
    </div>
{%- endmacro %}


{% macro gpxDownloadButton(title, gpxUrl, icon, classes='', editUrl='') -%}
    <div class="card-header d-flex align-items-center {{ classes }} justify-content-between">
        <div class="d-flex align-items-center">
            <i class="fa-solid {{ icon }} fa-fw fs-5 me-2"></i>
            <div class="fs-5 text-truncate">
                {{ title }}
            </div>
        </div>
        <div class="d-flex align-items-center">
            {% if editUrl %}
                <a href="{{ editUrl }}" class="btn btn-primary btn-sm ms-3 d-flex align-items-center">
                    <span class="material-symbols-outlined filled fs-4">edit</span>
                </a>
            {% endif %}
            <a href="{{ gpxUrl }}" class="btn btn-primary btn-sm ms-3 d-flex align-items-center" target="_blank">
                <span class="material-symbols-outlined filled fs-4">download</span> <span>GPX</span>
            </a>
        </div>
    </div>
{%- endmacro %}


{% macro showLinkedSportsButton(linkedSports, collapsibleId, classes) -%}
    <div class="d-flex flex-column align-items-center">
        <button class="btn btn-orange mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapsibleId }}">
            {% trans length=linkedSports|length %}Show {{ length }} linked Tracks{% endtrans %}
        </button>
        <div class="collapse {{ classes }}" id="{{ collapsibleId }}">
            <div class="list-group text-start">
                {% for linkedSport in linkedSports %}
                    <a href="{{ url_for('maps.showSingleTrack', sport_id=linkedSport.id) }}"
                       class="list-group-item list-group-item-action d-flex justify-content-between fw-bold">
                        {{ linkedSport.startTime | format_date() }}
                        <span class="material-symbols-outlined filled text-primary">send</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro tileHuntingMapSettings(isShowTilesActive, isGridActive, sportId) -%}
    <div class="dropdown ms-3">
        <button class="btn btn-sm btn-primary dropdown-toggle d-inline-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined fs-5">explore</span>
            <span class="ms-2 d-none d-lg-block">{{ gettext('Tile Hunting') }}</span>
        </button>
        <div class="dropdown-menu px-3 py-2" data-bs-theme="dark">
            <div class="form-check text-nowrap mb-2">
                <input class="form-check-input tileHuntingCheckbox" type="checkbox"
                       id="tileHuntingEnableTiles"
                       {% if isShowTilesActive %}checked{% endif %}
                       data-url="{{ url_for('maps.toggleTileHuntingViewTiles', redirectUrl=url_for('maps.showSingleTrack', sport_id=sportId)) }}">
                <label class="form-check-label" for="tileHuntingEnableTiles">{{ gettext('Show visited tiles') }}</label>
            </div>
            <div class="form-check text-nowrap">
                <input class="form-check-input tileHuntingCheckbox" type="checkbox"
                       id="tileHuntingEnableGrid"
                       {% if isGridActive %}checked{% endif %}
                       {% if not isShowTilesActive %}disabled{% endif %}
                       data-url="{{ url_for('maps.toggleTileHuntingViewGrid', redirectUrl=url_for('maps.showSingleTrack', sport_id=sportId)) }}">
                <label class="form-check-label" for="tileHuntingEnableGrid">{{ gettext('Show grid') }}</label>
            </div>
        </div>
    </div>
{%- endmacro %}