<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        {% if track.shareCode and track.ownerName != current_user.username %}
            <title>SportTracker - {{ gettext('Shared Track') }}</title>
            <meta name="description" content="{{ track.ownerName|capitalize }} is sharing a track with you!">
        {% else %}
            <title>SportTracker - {{ gettext('Track') }}</title>
        {% endif %}
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
        <link rel="stylesheet" href="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.css"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/leaflet-theme.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('map') }}

        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}
        {% import 'maps/mapMacros.jinja2' as mapMacros with context %}

        <div class="d-flex align-items-center text-truncate justify-content-center my-3">
            {{ trackMacros.track_type_icon_small(track.type, fontSize='fs-3') }}
            <div class="fs-5 text-truncate planned-tour-name ps-3 pe-2">
                {{ track.name }}
            </div>
        </div>

        <!-- small displays -->
        <div class="card bg-body-secondary mx-3 mb-3 d-xl-none" data-bs-theme="dark">
            {{ mapMacros.gpxDownloadButton(gettext('Track'), gpxUrl, 'fa-route', editUrl=editUrl) }}

            <div class="card-body ps-4 pt-4 pb-0">
                <div class="row row-cols-4 gy-3 pb-3 overflow-x-auto">
                    {% call mapMacros.meta_info_item_small('event', track.type.text_color, gettext('Date')) %}
                        {{ track.startTime | format_date }}
                    {% endcall %}
                    {% call mapMacros.meta_info_item_small('route', track.type.text_color, gettext('Distance')) %}
                        {{ (track.distance / 1000) | format_decimal(2) }} km
                    {% endcall %}
                    {% call mapMacros.meta_info_item_small('timer', track.type.text_color, gettext('Duration'), 'material-icons-outlined') %}
                        {{ track.duration | format_duration }} h
                    {% endcall %}
                    {% call mapMacros.meta_info_item_small('speed', track.type.text_color, gettext('Speed')) %}
                        {% if track.type.render_speed_in_kph %}
                            {% if track.duration is none %}
                                -
                            {% else %}
                                {{ (track.distance / track.duration * 3.6) | round(1) | format_decimal }} km/h
                            {% endif %}
                        {% else %}
                            {% if track.duration is none %}
                                -
                            {% else %}
                                {{ track | format_pace }} min
                            {% endif %}
                        {% endif %}
                    {% endcall %}
                </div>
            </div>

            <div class="card-footer text-body-secondary d-flex align-items-center justify-content-end">
                <div class="d-flex align-items-center">
                    <div class="material-icons fs-4 me-1">person</div>
                    <div>{{ track.ownerName }}</div>
                </div>
            </div>
        </div>

        <div class="row mx-3 mx-xl-5">
            <div class="col col-12 col-xl-10 p-0">
                <div id="map" class="leaflet-map text-dark map-smaller"></div>
            </div>

            <!-- large displays -->
            <div class="col col-2 p-0 ps-4 d-none d-xl-block">
                <div class="card bg-body-secondary" data-bs-theme="dark">
                   {{ mapMacros.gpxDownloadButton(gettext('Track'), gpxUrl, 'fa-route', 'flex-column flex-xxl-row', editUrl=editUrl) }}

                    <div class="card-body ps-4 pt-4">
                        {% call mapMacros.meta_info_item('event', track.type.text_color, gettext('Date')) %}
                            {{ track.startTime | format_date }}
                        {% endcall %}

                        {% call mapMacros.meta_info_item('route', track.type.text_color, gettext('Distance')) %}
                            {{ (track.distance / 1000) | format_decimal(2) }} km
                        {% endcall %}

                        {% call mapMacros.meta_info_item('timer', track.type.text_color, gettext('Duration'), 'material-icons-outlined') %}
                            {{ track.duration | format_duration }} h
                        {% endcall %}

                        {% call mapMacros.meta_info_item('speed', track.type.text_color, gettext('Avg. Speed')) %}
                            {% if track.type.render_speed_in_kph %}
                                {% if track.duration is none %}
                                    -
                                {% else %}
                                    {{ (track.distance / track.duration * 3.6) | round(1) | format_decimal }} km/h
                                {% endif %}
                            {% else %}
                                {% if track.duration is none %}
                                    -
                                {% else %}
                                    {{ track | format_pace }} min
                                {% endif %}
                            {% endif %}
                        {% endcall %}

                        {% call mapMacros.meta_info_item('favorite_border', track.type.text_color, gettext('Avg. Heart Rate')) %}
                            {% if track.averageHeartRate is not none %}
                                {{ track.averageHeartRate }} bpm
                            {% else %}
                                -
                            {% endif %}
                        {% endcall %}

                         {% call mapMacros.meta_info_item('expand', track.type.text_color, gettext('Elevation Sum')) %}
                            {% if track.elevationSum is not none %}
                                {{ track.elevationSum }} m
                            {% else %}
                                -
                            {% endif %}
                        {% endcall %}

                        {% call mapMacros.meta_info_item('vertical_align_bottom', track.type.text_color, gettext('Min Height')) %}
                            {% if track.gpxMetaInfo is not none %}
                                {{ (track.gpxMetaInfo.elevationExtremes.minimum) }} m
                            {% else %}
                                -
                            {% endif %}
                        {% endcall %}

                        {% call mapMacros.meta_info_item('vertical_align_top', track.type.text_color, gettext('Max Height')) %}
                            {% if track.gpxMetaInfo is not none %}
                                {{ (track.gpxMetaInfo.elevationExtremes.maximum) }} m
                            {% else %}
                                -
                            {% endif %}
                        {% endcall %}
                    </div>

                    <div class="card-footer text-body-secondary d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center">
                            <div class="material-icons fs-4 me-1">person</div>
                            <div>{{ track.ownerName }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            gpxUrl = '{{ gpxUrl }}';
        </script>

        {% import 'maps/mapMacros.jinja2' as mapMacros with context %}
        {{ mapMacros.mapLocale() }}

        {{ macros.scripts() }}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-ui@0.6.0/dist/leaflet-ui.js"></script>
        <script src="https://unpkg.com/@raruto/leaflet-elevation/dist/leaflet-elevation.js"></script>
        <script defer src="{{ url_for('static', filename='js/mapCommon.js') }}" type="text/javascript"></script>
        <script defer src="{{ url_for('static', filename='js/mapSingleTrack.js') }}" type="text/javascript"></script>
    </body>
</html>
