:root {
    --color-background: #212121;
}

body {
}

.progress {
    background-color: #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#map {
    height: 65vh;
}

.map-smaller {
    height: 60vh !important;
}

#map .leaflet-control-layers-inline .leaflet-control-layers-base span {
    padding: 0.2rem;
}

.svg-inline--fa.fa-fw {
    width: 1em;
}

.bg-green {
    background-color: #6BBDA5;
}

.text-green {
    color: #6BBDA5;
}

.border-green {
    border-color: #6BBDA5 !important;
}

.bg-orange {
    background-color: #FD7E14;
}

.text-orange {
    color: #FD7E14;
}

.border-orange {
    border-color: #FD7E14 !important;
}

.calendar-container {
    max-width: 90%;
    margin: auto;
}

.calendar-cell {
    width: 1.7rem;
    min-width: 1.7rem;
}

.btn-available-year {
    color: white !important;
    background-color: transparent !important;
    border-color: var(--bs-secondary) !important;
}


.btn-check:checked + .btn-available-year {
    color: white !important;
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.border-10 {
    border-width: 10px !important;
}

.margin-maintenance {
    margin-left: -10px;
}

.navbar-icon {
    width: 1.25rem !important;
    height: 1.25rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline-icon {
    width: 3rem !important;
    height: 3rem !important;
}

.input-field-margin {
    margin-left: 2.5rem;
}

.track-type-icon-easter-egg.fs-1 {
    height: 2.5rem;
    width: 2.5rem;
}

.track-type-icon-easter-egg.fs-2 {
    height: 2rem;
    width: 2rem;
}

.track-type-icon-easter-egg.fs-3 {
    height: 1.75rem;
    width: 1.75rem;
}

.track-type-icon-easter-egg.fs-4 {
    height: 1.5rem;
    width: 1.5rem;
}

.user-name-max-width {
    max-width: 20ch;
}

.debug {
    outline: 1px solid red !important;
}

.hidden {
    display: none !important;
}
