<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Planned Tours') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light" style="font-family: sans-serif">
        {{ macros.navbar('plannedTours') }}
        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Planned Tours'), url_for('plannedTours.add')) %}
                            <i class="fa-solid fa-lightbulb fa-fw fs-2"></i>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.track_type_quick_filter(url_for('plannedTours.listPlannedTours')) }}
                </div>

                <div class="row py-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
                    {% for plannedTour in plannedTours %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <div class="card-header mb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            {{ trackMacros.track_type_icon_small(plannedTour.type, fontSize='fs-3') }}
                                            <div class="fs-5 text-truncate planned-tour-name ps-3 pe-2">
                                                {{ plannedTour.name }}
                                            </div>
                                        </div>
                                        {% if plannedTour.id in newPlannedTourIds %}
                                            <span class="badge text-bg-danger">{{ gettext('new') }}</span>
                                        {% elif plannedTour.id in updatedPlannedTourIds %}
                                            <span class="badge text-bg-danger">{{ gettext('updated') }}</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <img class="card-img-top img-fluid" src="" alt="">

                                <div class="card-body">
                                    <div class="row row-cols-2 row-cols-lg-4 gy-3">
                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="fs-5">
                                                {% if plannedTour.distance is not none %}
                                                    {{ (plannedTour.distance / 1000) | format_decimal(2) }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </div>
                                            <div class="fs-6">km</div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="material-icons text-secondary fs-4">{{ plannedTour.arrivalMethod.icon }}</div>
                                            <div class="fs-6">{{ gettext('Arrival') }}</div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="material-icons text-secondary fs-4">{{ plannedTour.departureMethod.icon }}</div>
                                            <div class="fs-6">{{ gettext('Departure') }}</div>
                                        </div>
                                        <div class="col d-flex flex-column align-items-center justify-content-between">
                                            <div class="material-icons text-secondary fs-4">{{ plannedTour.direction.icon }}</div>
                                            <div class="fs-6">{{ plannedTour.direction.get_localized_name() }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-body-secondary d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        {% if plannedTour.sharedUsers %}
                                            <div class="badge rounded-pill text-bg-success d-flex align-items-center me-2">
                                                <div class="material-icons fs-4">share</div>
                                                <div class="fs-6 fw-normal">&nbsp;{{ gettext('shared') }}</div>
                                            </div>
                                        {% endif %}

                                        {{ gettext('last edited') }}: {{ plannedTour.lastEditDate | format_date() }}
                                    </div>

                                     <a href="{{ url_for('plannedTours.edit', tour_id=plannedTour.id) }}" class="btn btn-primary d-inline-flex align-items-center" id="button-logout">
                                         <span class="material-icons text-light fs-5">edit</span>&nbsp;{{ gettext('Edit') }}
                                     </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
        <script>
            const url = "{{ url_for('plannedTours.set_last_viewed_date') }}";
            let xhr = new XMLHttpRequest();
            xhr.open('GET', url);
            xhr.onload = function()
            {
                if(xhr.status !== 204)
                {
                    console.error(xhr.response);
                }
            };
            xhr.send();
        </script>
    </body>
</html>
