{% macro planned_tour_form_shared_users(plannedTour, users) -%}
    <div class="mb-3">
        <label for="workout-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined filled me-3">share</span>
                <span>{{ gettext('Share this tour with') }}</span>
            </div>
        </label>
        {% for user in users %}
            {% set isOwner=plannedTour and user.id|string == plannedTour.ownerId %}

            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if plannedTour and (user.id|string in plannedTour.sharedUsers) or isOwner %}checked{% endif %} id="sharedUser-{{ user.id }}" name="sharedUsers" value="{{ user.id }}" {% if plannedTour and user.id|string == plannedTour.ownerId %}disabled{% endif %}>
                <label class="form-check-label" for="sharedUser-{{ user.id }}">
                    {{ user.name | capitalize }} {% if isOwner %}({{ gettext('Owner') }}){% endif %}
                </label>
            </div>
        {% endfor %}

        {% if plannedTour and current_user.id|string != plannedTour.ownerId %}
            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" checked id="sharedUser-{{ current_user.id }}" name="sharedUsers" value="{{ current_user.id }}">
                <label class="form-check-label" for="sharedUser-{{ current_user.id }}">
                    {{ current_user.username | capitalize }}
                </label>
            </div>
        {% endif %}

        {% if not users %}
            <div class="d-flex align-items-center input-field-margin">
                <span class="material-symbols-outlined fs-4 me-2">info</span>
                <span>{{ gettext('No other users available') }}</span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}


{% macro radio_button_select(name, icon, identifier, inputName, availableTypes, selectedValue=none, baseIdentifier='planned-tour') -%}
    <div class="mb-3">
        <div class="form-label input-field-margin">{{ name }}</div>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined filled me-3">{{ icon }}</span>
            <div class="btn-group" role="group" id="{{ baseIdentifier }}-{{ identifier }}">
                {% for availableType in availableTypes %}
                    <input type="radio" class="btn-check" name="{{ inputName }}" id="{{ identifier }}-{{ loop.index }}"
                           autocomplete="off"
                           {% if selectedValue == availableType.name or (selectedValue is none and loop.index == 1) %}checked{% endif %}
                           value="{{ availableType.name }}">
                    <label class="btn btn-outline-light d-flex align-items-center"
                           for="{{ identifier }}-{{ loop.index }}">
                        <span class="material-symbols-outlined filled me-3">{{ availableType.icon }}</span>
                        {{ availableType.get_localized_name() }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro linkedWorkoutsMacro(idSuffix, plannedTour) -%}
    <div class="modal fade" tabindex="-1" id="linked-workouts-modal-{{ idSuffix }}" data-bs-theme="dark">>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    {{ workoutMacros.workout_type_icon_small(plannedTour.type, fontSize='fs-3') }}
                    <div class="fs-5 ms-3 text-truncate">
                        {{ plannedTour.name | e}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="list-group text-start" data-bs-theme="light">
                            {% for linkedWorkout in plannedTour.linkedWorkouts %}
                                <a href="{{ url_for('maps.showSingleWorkout', workout_id=linkedWorkout.id) }}"
                                   class="list-group-item list-group-item-action d-flex justify-content-between fw-bold">
                                    {{ linkedWorkout.startTime | format_date() }}
                                    <span class="material-symbols-outlined filled text-primary">send</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro plannedTourFilterStatus(isDoneActive, isTodoActive) -%}
    {% set allSelected = isDoneActive and isTodoActive %}

    <div class="dropdown position-static">
        <button class="btn btn-sm {% if allSelected %}btn-outline-light{% else %}btn-light{% endif %} dropdown-toggle d-inline-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined fs-5">filter_alt</span>
            <span class="ms-2">{{ gettext('Filter: Status') }}</span>
        </button>
        <div class="dropdown-menu px-3 py-2" data-bs-theme="dark">
            <div class="form-check text-nowrap mb-2">
                <input class="form-check-input" type="checkbox"
                       id="plannedTourFilterStatusDone"
                       name="plannedTourFilterStatusDone"
                       {% if isDoneActive %}checked{% endif %}>
                <label class="form-check-label d-flex align-items-center" for="plannedTourFilterStatusDone">
                    <span class="material-symbols-outlined fs-5 me-1">check</span>
                    <span>{{ gettext('completed') }}</span>
                </label>
            </div>
            <div class="form-check text-nowrap">
                <input class="form-check-input" type="checkbox"
                       id="plannedTourFilterStatusTodo"
                       name="plannedTourFilterStatusTodo"
                       {% if isTodoActive %}checked{% endif %}>
                <label class="form-check-label d-flex align-items-center" for="plannedTourFilterStatusTodo">
                    <span class="material-symbols-outlined fs-5 me-1">close</span>
                    <span>{{ gettext('not completed') }}</span>
                </label>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro plannedTourFilterEnum(availableTypes, selectedTypes, buttonText, identifier) -%}
    {% set allSelected = availableTypes | length == selectedTypes | length %}

    <div class="dropdown position-static">
        <button class="btn btn-sm {% if allSelected %}btn-outline-light{% else %}btn-light{% endif %} dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined fs-5">filter_alt</span>
            <span class="ms-2">{{ buttonText }}</span>
        </button>
        <div class="dropdown-menu px-3 py-2" data-bs-theme="dark">
            {% for availableType in availableTypes %}
                <div class="form-check text-nowrap {% if not loop.last %}mb-2{% endif %}">
                    <input class="form-check-input" type="checkbox"
                           id="{{ identifier }}-{{ loop.index }}"
                           name="{{ identifier }}-{{ loop.index }}"
                           value="{{ availableType.name }}"
                           {% if availableType in selectedTypes %}checked{% endif %}>
                    <label class="form-check-label d-flex align-items-center" for="{{ identifier }}-{{ loop.index }}">
                        <span class="material-symbols-outlined fs-5 me-1">{{ availableType.icon }}</span>
                        <span>{{ availableType.get_localized_name() }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro plannedTourFilterName(nameFilter) -%}
    <div class="dropdown position-static">
        <button class="btn btn-sm {% if nameFilter is none or nameFilter | length == 0 %}btn-outline-light{% else %}btn-light{% endif %} dropdown-toggle d-inline-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined fs-5">filter_alt</span>
            <span class="ms-2">{{ gettext('Filter: Name') }}</span>
        </button>
        <div class="dropdown-menu px-3 py-2" data-bs-theme="dark">
            <div class="text-nowrap mb-2">
                <label class="form-label" for="plannedTourFilterName">
                    <span>{{ gettext('Name must include:') }}</span>
                </label>

                <input class="form-control" type="text"
                       id="plannedTourFilterName"
                       name="plannedTourFilterName"
                       value="{% if nameFilter is not none %}{{ nameFilter }}{% endif %}">
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro plannedTourFilterDistance(minDistance, maxDistance) -%}
    {% set bothEmpty = minDistance is none and maxDistance is none %}

    <div class="dropdown position-static">
        <button class="btn btn-sm {% if bothEmpty %}btn-outline-light{% else %}btn-light{% endif %} dropdown-toggle d-inline-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined fs-5">filter_alt</span>
            <span class="ms-2">{{ gettext('Filter: Distance') }}</span>
        </button>
        <div class="dropdown-menu px-3 py-2" data-bs-theme="dark">
            <div class="text-nowrap mb-2">
                <label class="form-label" for="plannedTourFilterDistanceMin">
                    <span>{{ gettext('Minimum distance (in km):') }}</span>
                </label>

                <input class="form-control"
                       type="number" min="0"
                       id="plannedTourFilterDistanceMin"
                       name="plannedTourFilterDistanceMin"
                       value="{% if minDistance is not none %}{{ minDistance // 1000 }}{% endif %}">
            </div>

            <div class="text-nowrap mb-2">
                <label class="form-label" for="plannedTourFilterDistanceMax">
                    <span>{{ gettext('Maximum distance (in km):') }}</span>
                </label>

                <input class="form-control"
                       type="number" min="1"
                       id="plannedTourFilterDistanceMax"
                       name="plannedTourFilterDistanceMax"
                       value="{% if maxDistance is not none %}{{ maxDistance // 1000 }}{% endif %}">
            </div>
        </div>
    </div>
{%- endmacro %}