{% macro planned_tour_form_shared_users(plannedTour, users) -%}
    <div class="mb-3">
        <label for="track-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-symbols-outlined filled me-3">share</span>
                <span>{{ gettext('Share this tour with') }}</span>
            </div>
        </label>
        {% for user in users %}
            {% set isOwner=plannedTour and user.id|string == plannedTour.ownerId %}

            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if plannedTour and (user.id|string in plannedTour.sharedUsers) or isOwner %}checked{% endif %} id="sharedUser-{{ user.id }}" name="sharedUsers" value="{{ user.id }}" {% if plannedTour and user.id|string == plannedTour.ownerId %}disabled{% endif %}>
                <label class="form-check-label" for="sharedUser-{{ user.id }}">
                    {{ user.name | capitalize }} {% if isOwner %}({{ gettext('Owner') }}){% endif %}
                </label>
            </div>
        {% endfor %}

        {% if plannedTour and current_user.id|string != plannedTour.ownerId %}
            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" checked id="sharedUser-{{ current_user.id }}" name="sharedUsers" value="{{ current_user.id }}">
                <label class="form-check-label" for="sharedUser-{{ current_user.id }}">
                    {{ current_user.username | capitalize }}
                </label>
            </div>
        {% endif %}

        {% if not users %}
            <div class="d-flex align-items-center input-field-margin">
                <span class="material-symbols-outlined fs-4 me-2">info</span>
                <span>{{ gettext('No other users available') }}</span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}


{% macro radio_button_select(name, icon, identifier, inputName, availableTypes, selectedValue=none, baseIdentifier='planned-tour') -%}
    <div class="mb-3">
        <div class="form-label input-field-margin">{{ name }}</div>
        <div class="d-flex align-items-center">
            <span class="material-symbols-outlined filled me-3">{{ icon }}</span>
            <div class="btn-group" role="group" id="{{ baseIdentifier }}-{{ identifier }}">
                {% for availableType in availableTypes %}
                    <input type="radio" class="btn-check" name="{{ inputName }}" id="{{ identifier }}-{{ loop.index }}"
                           autocomplete="off"
                           {% if selectedValue == availableType.name or (selectedValue is none and loop.index == 1) %}checked{% endif %}
                           value="{{ availableType.name }}">
                    <label class="btn btn-outline-light d-flex align-items-center"
                           for="{{ identifier }}-{{ loop.index }}">
                        <span class="material-symbols-outlined filled me-3">{{ availableType.icon }}</span>
                        {{ availableType.get_localized_name() }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro linkedWorkoutsMacro(idSuffix, plannedTour) -%}
    <div class="modal fade" tabindex="-1" id="linked-tracks-modal-{{ idSuffix }}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    {{ workoutMacros.workout_type_icon_small(plannedTour.type, fontSize='fs-3') }}
                    <div class="fs-5 ms-3 text-truncate">
                        {{ plannedTour.name }}
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="list-group text-start">
                            {% for linkedWorkout in plannedTour.linkedWorkouts %}
                                <a href="{{ url_for('maps.showSingleTrack', workout_id=linkedWorkout.id) }}"
                                   class="list-group-item list-group-item-action d-flex justify-content-between fw-bold">
                                    {{ linkedWorkout.startTime | format_date() }}
                                    <span class="material-symbols-outlined filled text-primary">send</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}