<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if plannedTour %}{{ gettext('Edit Planned Tour') }}{% else %}{{ gettext('New Planned Tour') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('plannedTours') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if plannedTour %}
                            <h1>{{ gettext('Edit Planned Tour') }}</h1>
                            <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                {{ gettext('Delete') }}
                            </button>

                            {% call macros.deleteModal(gettext('Delete Planned Tour?'), gettext('Do you really want to delete this planned tour?')) %}
                                <a href="{{ url_for('plannedTours.delete', tour_id=tour_id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
                            {% endcall %}
                        {% else %}
                            <h1>{{ gettext('New Planned Tour') }}</h1>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{% if plannedTour %}{{ url_for('plannedTours.editPost', tour_id=tour_id) }}{% else %}{{ url_for('plannedTours.addPost') }}{% endif %}"
                              method="post">
                            <div class="mb-3">
                                <label for="planned-tour-type" class="form-label">{{ gettext('Type') }}</label>
                                <select class="form-select" id="planned-tour-type" name="type" required="required">
                                    {% for trackType in trackTypes %}
                                        <option value="{{ trackType.name }}"
                                                {% if plannedTour and plannedTour.type == trackType.name %}selected{% endif %}>{{ trackType.get_localized_name() }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-5">
                                <div class="form-group">
                                    <label for="planned-tour-name"
                                           class="form-label">{{ gettext('Name') }}</label>
                                    <input type="text" class="form-control" id="planned-tour-name"
                                           name="name" required="required"
                                           {% if plannedTour %}value="{{ plannedTour.name }}"{% endif %}>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
