<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Planned Tours') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('plannedTours') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Planned Tours'), url_for('plannedTours.add')) %}
                            <i class="fa-solid fa-lightbulb fa-fw fs-2"></i>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.track_type_quick_filter(url_for('plannedTours.listPlannedTours')) }}
                </div>

                {% for plannedTour in plannedTours %}
                     <div class="row py-3">
                            <div class="col col-xxl-8 col-lg-10 col-sm-12 mx-auto px-xxl-5 px-xl-4 px-lg-3">
                                <a href="{{ url_for('plannedTours.edit', tour_id=plannedTour.id) }}"
                                   class="text-decoration-none">
                                    <div class="card">
                                        <div class="row g-0 d-flex align-items-center p-2">
                                            <div class="col col-4 col-md-2 d-flex align-items-center">
                                                <i class="fa-solid fa-route fa-fw fs-3 p-2 text-secondary me-3"></i>
                                                {% if plannedTour.type.is_font_awesome_icon %}
                                                    <i class="fa-solid {{ plannedTour.type.icon }} fa-fw rounded-circle fs-3 p-2 text-dark {{ plannedTour.type.background_color }}"></i>
                                                {% else %}
                                                    <span class="material-icons rounded-circle fs-3 p-2 text-dark {{ plannedTour.type.background_color }}">{{ plannedTour.type.icon }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col col-4 col-md-6 text-start fs-5 text-truncate planned-tour-name">
                                                {{ plannedTour.name }}
                                            </div>
                                            <div class="col col-2 text-start fs-5 text-center">
                                                {% if plannedTour.distance is not none %}
                                                    {{ (plannedTour.distance / 1000) | format_decimal(2) }} km
                                                {% endif %}
                                            </div>
                                            <div class="col col-2 text-start fs-6 text-center">
                                                {{ plannedTour.lastEditDate | format_date() }}
                                                <div class="fw-light">{{ gettext('last edited') }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
