{% macro planned_tour_form_shared_users(plannedTour, users) -%}
    <div class="mb-3">
        <label for="track-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-icons me-3">share</span>
                <span>{{ gettext('Share this tour with') }}</span>
            </div>
        </label>
        {% for user in users %}
            {% set isOwner=plannedTour and user.id|string == plannedTour.ownerId %}

            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if plannedTour and (user.id|string in plannedTour.sharedUsers) or isOwner %}checked{% endif %} id="sharedUser-{{ user.id }}" name="sharedUsers" value="{{ user.id }}" {% if plannedTour and user.id|string == plannedTour.ownerId %}disabled{% endif %}>
                <label class="form-check-label" for="sharedUser-{{ user.id }}">
                    {{ user.name | capitalize }} {% if isOwner %}({{ gettext('Owner') }}){% endif %}
                </label>
            </div>
        {% endfor %}

        {% if plannedTour and current_user.id|string != plannedTour.ownerId %}
            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" checked id="sharedUser-{{ current_user.id }}" name="sharedUsers" value="{{ current_user.id }}">
                <label class="form-check-label" for="sharedUser-{{ current_user.id }}">
                    {{ current_user.username | capitalize }}
                </label>
            </div>
        {% endif %}

        {% if not users %}
            <div class="d-flex align-items-center input-field-margin">
                <span class="material-icons fs-4 me-2">info_outline</span>
                <span>{{ gettext('No other users available') }}</span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}
