<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if sport %}{{ gettext('Edit Workout') }}{% else %}{{ gettext('New Workout') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        {% import 'sports/sportMacros.jinja2' as sportMacros with context %}
        {% import 'plannedTours/plannedToursMacros.jinja2' as plannedToursMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if sport %}
                            {% call macros.headline(gettext('Edit Workout')) %}
                                <span class="material-symbols-outlined fs-1">fitness_center</span>
                            {% endcall %}
                            <button type="button" class="btn btn-danger mt-3 d-flex align-items-center mx-auto" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                <span class="material-symbols-outlined filled text-light">delete</span>&nbsp;{{ gettext('Delete') }}
                            </button>

                            {% call macros.deleteModal(gettext('Delete Track?'), gettext('Do you really want to delete the track "%(name)s" (ID: %(id)d)?', name=sport.name, id=sport_id)) %}
                                <a href="{{ url_for('workoutSports.delete', sport_id=sport_id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
                            {% endcall %}
                        {% else %}
                            {% call macros.headline(gettext('New Workout')) %}
                                <span class="material-symbols-outlined fs-1">fitness_center</span>
                            {% endcall %}
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{% if sport %}{{ url_for('workoutSports.editPost', sport_id=sport_id) }}{% else %}{{ url_for('workoutSports.addPost') }}{% endif %}"
                              method="post"
                              enctype=multipart/form-data>

                            <input type="hidden" class="form-control" id="track-type" name="type" value="WORKOUT">

                            {{ sportMacros.track_form_name(sport, sportNames) }}

                            {{ sportMacros.track_form_start_time(sport) }}

                            {{ sportMacros.track_form_duration(sport) }}

                            {% set selectedWorkoutType=None %}
                            {% if sport %}
                                {% set selectedWorkoutType=sport.workoutType %}
                            {% endif %}
                            {{ plannedToursMacros.radio_button_select(gettext('Workout Type'), 'fitness_center', 'workout-type', 'workoutType', workoutTypes, selectedWorkoutType, 'sport') }}

                            {% set selectedWorkoutCategories=[] %}
                            {% if sport %}
                                {% set selectedWorkoutCategories=sport.workoutCategories %}
                            {% endif %}
                            {{ sportMacros.check_button_select(gettext('Workout Categories'), 'label', 'workout-category', 'workoutCategories', workoutCategoryTypes, selectedWorkoutCategories, 'sport') }}

                            {{ sportMacros.track_form_average_heart_rate(sport) }}

                            {% for field in customFields %}
                                {{ sportMacros.track_form_custom_field_input(field) }}
                            {% endfor %}

                            {{ sportMacros.track_form_participants(sport, participants) }}

                            <button type="submit" id="buttonSaveTrack" class="btn btn-success mt-5 input-field-margin d-flex align-items-center"><span class="material-symbols-outlined filled text-light">save</span>&nbsp;{{ gettext('Save') }}</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
        <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap-autocomplete.min.js') }}" type="text/javascript"></script>
        <script>
             $('#track-name').autocomplete()
        </script>
    </body>
</html>
