<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('New Track') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}
        {% import 'sports/sportMacros.jinja2' as sportMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('New Track')) %}
                            <i class="fa-solid fa-route fa-fw fs-2"></i>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('sports.addType', sport_type='BIKING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ sportMacros.sport_type_icon_non_responsive(sportTypesByName['BIKING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Biking Track') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('sports.addType', sport_type='RUNNING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ sportMacros.sport_type_icon_non_responsive(sportTypesByName['RUNNING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Running Track') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('sports.addType', sport_type='HIKING') }}"
                           class="btn btn-link text-decoration-none">
                            {{ sportMacros.sport_type_icon_non_responsive(sportTypesByName['HIKING'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Hiking Track') }}</div>
                        </a>
                    </div>
                    <div class="col col-12 col-md-6 mb-5">
                        <a href="{{ url_for('sports.addType', sport_type='FITNESS') }}"
                           class="btn btn-link text-decoration-none">
                            {{ sportMacros.sport_type_icon_non_responsive(sportTypesByName['FITNESS'], classes='mb-3') }}
                            <div class="fs-3 text-light">{{ gettext('New Workout') }}</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
