:root {
    --color-background: #212121;
}

body {
}

.track-type {
    font-size: 3rem;
    padding: 1.3rem;
}

.progress {
  background-color: #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.debug {
    outline: 1px solid red !important;
}

.hidden {
    display: none;
}
