:root {
    --color-background: #212121;
}

body {
}

.progress {
  background-color: #AAAAAA;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#map {
    height: 65vh;
}

#map .leaflet-control-layers-inline .leaflet-control-layers-base span {
    padding: 0.2rem;
}

.svg-inline--fa.fa-fw {
    width: 1em;
}

.bg-green {
    background-color: #619B8A;
}

.border-green {
    border-color: #619B8A !important;
}

.calendar-container {
    max-width: 90%;
    margin: auto;
}

.calendar-cell {
    width: 1.7rem;
}

.debug {
    outline: 1px solid red !important;
}

.hidden {
    display: none !important;
}
