<!DOCTYPE html>

{% macro render_track_speed_kmh(track) -%}
    <div class="d-flex flex-column">
        <span class="material-icons fs-3 text-secondary">speed</span>
        {% if track.duration is none %}
            <div class="fs-5">--.- km/h</div>
        {% else %}
            <div class="fs-5">{{ (track.distance / track.duration * 3.6) | round(1) | format_decimal }} km/h
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_speed_pace(track) -%}
    <div class="d-flex flex-column">
        <span class="material-icons fs-3 text-secondary">speed</span>
        {% if track.duration is none %}
            <div class="fs-5">--.-- min</div>
        {% else %}
            <div class="fs-5">{{ track | format_pace }} min
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_distance(track) -%}
     <div class="d-flex flex-column">
        <span class="material-icons fs-3 text-secondary">route</span>
        <div class="fs-5">{{ (track.distance / 1000) | format_decimal(2) }} km</div>
     </div>
{%- endmacro %}

{% macro render_track_duration(track) -%}
    <div class="d-flex flex-column">
        <span class="material-icons-outlined fs-3 text-secondary">timer</span>
        <div class="fs-5">{{ track.duration | format_duration }} h</div>
    </div>
{%- endmacro %}

{% macro render_track_average_heart_rate(track) -%}
    {% if track.averageHeartRate is not none %}
        <div class="d-flex flex-column">
            <span class="material-icons-outlined fs-3 text-secondary">favorite_border</span>
            <div class="fs-5">{{ track.averageHeartRate }} bpm</div>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_track_elevation(track) -%}
    {% if track.elevationSum is not none %}
        <div class="d-flex flex-column">
            <span class="material-icons-outlined fs-3 text-secondary">expand</span>
            <div class="fs-5">{{ track.elevationSum }} m</div>
        </div>
    {% endif %}
{%- endmacro %}

{%  macro track_type_icon(track) -%}
    <div class="col col-2 col-md-3 d-flex flex-column align-items-center justify-content-center my-3">
        {% if track.type.is_font_awesome_icon %}
            <i class="d-none d-lg-block fa-solid {{ track.type.icon }} fa-fw rounded-circle fs-1 p-3 text-dark {{ track.type.background_color }}"></i>
            <i class="d-lg-none fa-solid {{ track.type.icon }} fa-fw rounded-circle fs-3 p-2 text-dark {{ track.type.background_color }}"></i>
        {% else %}
            <span class="d-none d-lg-block material-icons rounded-circle fs-1 p-3 text-dark {{ track.type.background_color }}">{{ track.type.icon }}</span>
            <span class="d-lg-none material-icons rounded-circle fs-3 p-2 text-dark {{ track.type.background_color }}">{{ track.type.icon }}</span>
        {% endif %}

         <div class="fs-5 text-body text-start mt-2">{{ track.startTime | format_date }}</div>
    </div>
{%- endmacro %}

{%  macro track_card_feature_icons(track) -%}
    <div class="z-2">
        {% if track.participants %}
            <span class="material-icons fs-4 text-body">group</span>
        {% endif %}
        {% if track.gpxFileName is not none %}
            <a href="{{ url_for('maps.showSingleTrack', track_id=track.id) }}"
               class="text-decoration-none">
                <span class="material-icons fs-4 text-body">map</span>
            </a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_card(track) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card">
                <div class="row g-0">
                    {{ track_type_icon(track) }}
                    <div class="col col-10 col-md-9">
                        <div class="card-body ps-1 ps-md-3 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="card-title text-truncate text-start">{{ track.name }}</h4>

                                {{ track_card_feature_icons(track) }}
                            </div>

                            <div class="d-flex align-items-center justify-content-between">
                                {% if is_track_info_item_activated('DISTANCE') %}
                                    {{ render_track_distance(track) }}
                                {% endif %}

                                {% if is_track_info_item_activated('DURATION') %}
                                    {{ render_track_duration(track) }}
                                {% endif %}

                                {% if is_track_info_item_activated('SPEED') %}
                                    {% if track.type.render_speed_in_kph %}
                                        {{ render_track_speed_kmh(track) }}
                                    {% else %}
                                        {{ render_track_speed_pace(track) }}
                                    {% endif %}
                                {% endif %}

                                {% if is_track_info_item_activated('AVERAGE_HEART_RATE') %}
                                    {{ render_track_average_heart_rate(track) }}
                                {% endif %}

                                {% if is_track_info_item_activated('ELEVATION_SUM') %}
                                    {{ render_track_elevation(track) }}
                                {% endif %}
                            </div>
                        </div>

                        <a href="{{ url_for('tracks.edit', track_id=track.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_month(monthModel) -%}
    <div class="px-xxl-5 px-xl-4 px-lg-3">
        <h3 class="mt-4">{{ monthModel.name }}</h3>
        <div class="py-2">
            {% for goal in monthModel.goals %}
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <div class="row d-flex align-items-center">
                            <div class="col col-12 d-flex align-items-center">
                                {% if goal.type.is_font_awesome_icon %}
                                    <i class="fa-solid {{ goal.type.icon }} fa-fw fs-5 py-1 text-light"></i>
                                {% else %}
                                    <span class="material-icons fs-5 py-1 text-light">{{ goal.type.icon }}</span>
                                {% endif %}
                                <span class="me-3 text-end"
                                      style="white-space: nowrap; width: 4.75rem;">{{ goal.get_actual_value_formatted() }}</span>
                                <div class="d-inline-block" style="width: 100%; height: 100%;">
                                    {{ monthGoalsMacros.render_month_goal_progress_bar(goal) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for track in monthModel.tracks %}
            {{ render_track_card(track) }}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro track_form_name(track, trackNames) -%}
    <div class="mb-3">
        <div class="form-group">
            <label for="track-name" class="form-label">{{ gettext('Name') }}</label>
            <input type="text" class="form-control" id="track-name" name="name"
                   required="required" {% if track %}value="{{ track.name }}"{% endif %}
                   list="list-track-names">
            <datalist id="list-track-names">
                {% for trackName in trackNames %}
                    <option>{{ trackName }}</option>
                {% endfor %}
            </datalist>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_start_time(track) -%}
    <div class="mb-3">
        <div class="row">
            <div class="col col-6">
                <label for="track-date" class="form-label">{{ gettext('Date') }}</label>
                <input type="date" class="form-control" id="track-date" name="date"
                       required="required" {% if track %}value="{{ track.date }}"{% endif %}>
            </div>
            <div class="col col-6">
                <label for="track-time" class="form-label">{{ gettext('Start Time') }}</label>
                <input type="time" class="form-control" id="track-time" name="time"
                       required="required" {% if track %}value="{{ track.time }}"{% endif %}>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_distance(track) -%}
    <div class="mb-3">
        <label for="track-distance" class="form-label">{{ gettext('Distance (in km)') }}</label>
        <input type="number" step="0.01" min="0" class="form-control" id="track-distance"
               name="distance" required="required"
               {% if track %}value="{{ track.distance | round(2) }}"{% endif %}>
    </div>
{%- endmacro %}

{% macro track_form_duration(track) -%}
    <div class="mb-3">
        <div class="row">
            <div class="col col-lg-2 col-sm-4">
                <label for="track-duration-hours"
                       class="form-label">{{ gettext('Duration') }}</label>
                <input type="number" step="1" min="0" class="form-control"
                       id="track-duration-hours" name="durationHours"
                       placeholder="{{ gettext('Hours') }}"
                       required="required"
                       {% if track %}value="{{ track.durationHours }}"{% endif %}>
            </div>
            <div class="col col-lg-2 col-sm-4">
                <label for="track-duration-minutes" class="form-label">&nbsp;</label>
                <input type="number" step="1" min="0" max="59" class="form-control"
                       id="track-duration-minutes" name="durationMinutes"
                       placeholder="{{ gettext('Minutes') }}" required="required"
                       {% if track %}value="{{ track.durationMinutes }}"{% endif %}>
            </div>
            <div class="col col-lg-2 col-sm-4">
                <label for="track-duration-seconds" class="form-label">&nbsp;</label>
                <input type="number" step="1" min="0" max="59" class="form-control"
                       id="track-duration-seconds" name="durationSeconds"
                       placeholder="{{ gettext('Seconds') }}" required="required"
                       {% if track %}value="{{ track.durationSeconds }}"{% endif %}>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_average_heart_rate(track) -%}
    <div class="mb-3">
        <label for="track-averageHeartRate"
               class="form-label">{{ gettext('Average Heart Rate') }}</label>
        <input type="number" step="1" min="0" class="form-control" id="track-averageHeartRate"
               name="averageHeartRate"
               {% if track and track.averageHeartRate is not none %}value="{{ track.averageHeartRate }}"{% endif %}>
    </div>
{%- endmacro %}

{% macro track_form_elevation_sum(track) -%}
    <div class="mb-3">
        <label for="track-elevationSum"
               class="form-label">{{ gettext('Elevation Sum (in m)') }}</label>
        <input type="number" step="1" min="0" class="form-control" id="track-elevationSum"
               name="elevationSum"
               {% if track and track.elevationSum is not none %}value="{{ track.elevationSum }}"{% endif %}>
    </div>
{%- endmacro %}

{% macro track_form_gpx(track, track_id) -%}
    <div class="mb-3">
        <label for="track-gpxFileName" class="form-label">{{ gettext('GPX Track') }}</label>
        {% set hasGpxTrack = track and track.gpxFileName is not none %}

        {% if track is defined %}
            <div class="d-flex mb-3 {% if not hasGpxTrack %}hidden{% endif %}" id="gpxControlsEnabled">
                <span class="badge bg-success lh-lg rounded-pill d-flex align-items-center px-3">{{ gettext('A GPX file is linked to this track') }}</span>
                <div id="gpxButtons" class="d-flex">
                    <a href="{{ url_for('maps.showSingleTrack', track_id=track_id) }}"
                       class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                       target="_blank">
                        <span class="material-icons fs-4">map</span>
                    </a>
                    <a href="{{ url_for('gpxTracks.downloadGpxTrack', track_id=track_id) }}"
                       class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                       id="buttonGpxTrackDownload"
                       target="_blank">
                        <span class="material-icons fs-4">download</span>
                    </a>
                    <a data-url="{{ url_for('gpxTracks.deleteGpxTrack', track_id=track_id) }}"
                       class="btn btn-danger btn-sm ms-3 d-flex align-items-center" id="buttonGpxTrackDelete">
                        <span class="material-icons fs-4">delete</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="{% if hasGpxTrack %}hidden{% endif %}" id="gpxControlsDisabled">
            <span class="mb-3 badge bg-secondary lh-lg rounded-pill px-3">{{ gettext('No GPX file is linked to this track') }}</span>
        </div>
        <input class="form-control" type="file" id="track-gpxFileName" name="gpxTrack">
    </div>
{%- endmacro %}

{% macro track_form_participants(track, participants) -%}
    <div class="mb-3">
        <label for="track-participants" class="form-label">{{ gettext('Participants') }}</label>
        {% for participant in participants %}
            <div class="form-check">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if track and participant.id|string in track.participants %}checked{% endif %} id="participant-{{ participant.id }}" name="participants" value="{{ participant.id }}">
                <label class="form-check-label" for="participant-{{ participant.id }}">
                    {{ participant.name }}
                </label>
            </div>
        {% endfor %}

        {% if not participants %}
            <div class="d-flex align-items-center ms-3">
                <span class="material-icons fs-4 me-2">info_outline</span>
                <span>{{ gettext('Add participants in the ') }}
                    <a href="{{ url_for('settings.settingsShow') }}#headline-participants">
                        {{ gettext('Settings') }}
                       </a>
                </span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}