<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {% if track %}{{ gettext('Edit Running Track') }}{% else %}{{ gettext('New Running Track') }}{% endif %}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('tracks') }}

        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% if track %}
                            <h1>{{ gettext('Edit Running Track') }}</h1>
                            <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#delete-modal-0">
                                {{ gettext('Delete') }}
                            </button>

                            {% call macros.deleteModal(gettext('Delete Track?'), gettext('Do you really want to delete the track "%(name)s" (ID: %(id)d)', name=track.name, id=track_id)) %}
                                <a href="{{ url_for('tracks.delete', track_id=track_id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
                            {% endcall %}
                        {% else %}
                            <h1>{{ gettext('New Running Track') }}</h1>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <form role="form" action="{% if track %}{{ url_for('tracks.editPost', track_id=track_id) }}{% else %}{{ url_for('tracks.addPost') }}{% endif %}"
                              method="post"
                              enctype=multipart/form-data>

                            <input type="hidden" class="form-control" id="track-type" name="type" value="RUNNING">

                            {{ trackMacros.track_form_name(track, trackNames) }}

                            {{ trackMacros.track_form_start_time(track) }}

                            {{ trackMacros.track_form_distance(track) }}

                            {{ trackMacros.track_form_duration(track) }}

                            {{ trackMacros.track_form_average_heart_rate(track) }}

                            {{ trackMacros.track_form_elevation_sum(track) }}

                            {% for field in customFields %}
                                {{ macros.customFieldInput(field) }}
                            {% endfor %}

                            {{ trackMacros.track_form_participants(track, participants) }}

                            {{ trackMacros.track_form_gpx(track, track_id) }}

                            <button type="submit" class="btn btn-primary mt-3">{{ gettext('Save') }}</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
        <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap-autocomplete.min.js') }}" type="text/javascript"></script>
        <script>
             $('#track-name').autocomplete()
        </script>
    </body>
</html>
