<!DOCTYPE html>

{% macro render_track_unit(unit) -%}
       <div class="fs-6 d-lg-none">{{ unit }}</div>
       <span class="d-none d-lg-inline">{{ unit }}</span>
{%- endmacro %}

{% macro render_track_speed_kmh(track, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-icons fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">speed</span>
        {% if track.duration is none %}
            <div class="fs-5">--.- km/h</div>
        {% else %}
            <div class="fs-5 text-center">{{ (track.distance / track.duration * 3.6) | round(1) | format_decimal }} {{ render_track_unit('km/h') }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_speed_pace(track, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-icons fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">speed</span>
        {% if track.duration is none %}
            <div class="fs-5">--.-- min</div>
        {% else %}
            <div class="fs-5 text-center">{{ track | format_pace }} {{ render_track_unit('min') }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_distance(track, renderAsRow) -%}
     <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-icons fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">route</span>
        <div class="fs-5 text-center">{{ (track.distance / 1000) | format_decimal(2) }} {{ render_track_unit('km') }}</div>
     </div>
{%- endmacro %}

{% macro render_track_duration(track, renderAsRow) -%}
    <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
        <span class="material-icons-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">timer</span>
        <div class="fs-5 text-center">{{ track.duration | format_duration }} {{ render_track_unit('h') }}</div>
    </div>
{%- endmacro %}

{% macro render_track_average_heart_rate(track, renderAsRow) -%}
    {% if track.averageHeartRate is not none %}
        <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
            <span class="material-icons-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">favorite_border</span>
            <div class="fs-5 text-center">{{ track.averageHeartRate }} {{ render_track_unit('bpm') }}</div>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_track_elevation(track, renderAsRow) -%}
    {% if track.elevationSum is not none %}
       <div class="d-flex {% if renderAsRow %}flex-row{% else %}flex-column{% endif %}">
            <span class="material-icons-outlined fs-3 text-secondary {% if renderAsRow %}me-2{% endif %}">expand</span>
            <div class="fs-5 text-center">{{ track.elevationSum }} {{ render_track_unit('m') }}</div>
        </div>
    {% endif %}
{%- endmacro %}

{%  macro track_type_icon(trackType) -%}
    {% if trackType.is_font_awesome_icon %}
        <i class="d-none d-lg-block fa-solid {{ trackType.icon }} fa-fw rounded-circle fs-1 p-3 text-dark {{ trackType.background_color }}"></i>
        <i class="d-lg-none fa-solid {{ trackType.icon }} fa-fw rounded-circle fs-3 p-2 text-dark {{ trackType.background_color }}"></i>
    {% else %}
        <span class="d-none d-lg-block material-icons rounded-circle fs-1 p-3 text-dark {{ trackType.background_color }}">{{ trackType.icon }}</span>
        <span class="d-lg-none material-icons rounded-circle fs-3 p-2 text-dark {{ trackType.background_color }}">{{ trackType.icon }}</span>
    {% endif %}
{%- endmacro %}

{%  macro track_type_icon_small(trackType, fontSize='fs-2') -%}
    {% if trackType.is_font_awesome_icon %}
        <i class="fa-solid {{ trackType.icon }} fa-fw rounded-circle {{ fontSize }} p-2 text-dark {{ trackType.background_color }}"></i>
    {% else %}
        <span class="material-icons rounded-circle {{ fontSize }} p-2 text-dark {{ trackType.background_color }}">{{ trackType.icon }}</span>
    {% endif %}
{%- endmacro %}

{%  macro track_card_feature_icons(track) -%}
    <div class="z-2 d-flex">
        {% if track.participants %}
            <span class="material-icons fs-4 text-body">group</span>
        {% endif %}
        {% if track.gpxFileName is not none %}
            <a href="{{ url_for('maps.showSingleTrack', track_id=track.id) }}"
               class="text-decoration-none ms-2">
                <span class="material-icons fs-4 text-body">map</span>
            </a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_track_card(track, renderAsRow=false, useSmallIcon=false) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card">
                <div class="row g-0">
                    <div class="col col-3 col-md-3 d-flex flex-column align-items-center justify-content-center my-3 ps-1">
                        {% if useSmallIcon %}
                            {{ track_type_icon_small(track.type) }}
                        {% else %}
                            {{ track_type_icon(track.type) }}
                        {% endif %}
                        <div class="fs-6 text-body text-start mt-2 d-lg-none">{{ track.startTime | format_date }}</div>
                        <div class="fs-5 text-body text-start mt-2 d-none d-lg-block">{{ track.startTime | format_date }}</div>
                    </div>

                    <div class="col col-9 col-md-9">
                        <div class="card-body ps-1 ps-md-3 d-flex flex-column justify-content-between h-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="card-title text-truncate text-start">{{ track.name }}</h4>

                                {{ track_card_feature_icons(track) }}
                            </div>

                            <div class="d-flex align-items-center justify-content-around me-1 me-md-3">
                                {% if is_track_info_item_activated('DISTANCE') %}
                                    {{ render_track_distance(track, renderAsRow) }}
                                {% endif %}

                                {% if is_track_info_item_activated('DURATION') %}
                                    {{ render_track_duration(track, renderAsRow) }}
                                {% endif %}

                                {% if is_track_info_item_activated('SPEED') %}
                                    {% if track.type.render_speed_in_kph %}
                                        {{ render_track_speed_kmh(track, renderAsRow) }}
                                    {% else %}
                                        {{ render_track_speed_pace(track, renderAsRow) }}
                                    {% endif %}
                                {% endif %}

                                {% if is_track_info_item_activated('AVERAGE_HEART_RATE') %}
                                    {{ render_track_average_heart_rate(track, renderAsRow) }}
                                {% endif %}

                                {% if is_track_info_item_activated('ELEVATION_SUM') %}
                                    {{ render_track_elevation(track, renderAsRow) }}
                                {% endif %}
                            </div>
                        </div>

                        <a href="{{ url_for('tracks.edit', track_id=track.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_month(monthModel) -%}
    <div class="px-xxl-5 px-xl-4 px-lg-3">
        <h3 class="mt-4">{{ monthModel.name }}</h3>
        <div class="py-2">
            {% for goal in monthModel.goals %}
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <div class="row d-flex align-items-center">
                            <div class="col col-12 d-flex align-items-center">
                                {% if goal.type.is_font_awesome_icon %}
                                    <i class="fa-solid {{ goal.type.icon }} fa-fw fs-5 py-1 text-light"></i>
                                {% else %}
                                    <span class="material-icons fs-5 py-1 text-light">{{ goal.type.icon }}</span>
                                {% endif %}
                                <span class="me-3 text-end"
                                      style="white-space: nowrap; width: 4.75rem;">{{ goal.get_actual_value_formatted() }}</span>
                                <div class="d-inline-block" style="width: 100%; height: 100%;">
                                    {{ monthGoalsMacros.render_month_goal_progress_bar(goal) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for entry in monthModel.entries %}
            {% if entry.__class__.__name__ == 'Track' %}
                {{ render_track_card(entry) }}
            {% elif entry.__class__.__name__ == 'MaintenanceEvent' %}
                {{ render_maintenance_event_card(entry) }}
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro track_form_name(track, trackNames) -%}
    <div class="mb-3">
        <div class="form-group">
            <label for="track-name" class="form-label input-field-margin">{{ gettext('Name') }}</label>
            <div class="d-flex align-items-center">
                <span class="material-icons me-3">edit</span>
                <input type="text" class="form-control" id="track-name" name="name"
                       required="required" {% if track %}value="{{ track.name }}"{% endif %}
                       list="list-track-names">
                <datalist id="list-track-names">
                    {% for trackName in trackNames %}
                        <option>{{ trackName }}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_start_time(track) -%}
    <div class="mb-3">
        <div class="row">
            <div class="col col-6">
                <label for="track-date" class="form-label input-field-margin">{{ gettext('Date') }}</label>
                <div class="d-flex align-items-center">
                    <span class="material-icons me-3">event</span>
                    <input type="date" class="form-control" id="track-date" name="date"
                           required="required" {% if track %}value="{{ track.date }}"{% endif %}>
                </div>
            </div>
            <div class="col col-6">
                <label for="track-time" class="form-label input-field-margin">{{ gettext('Start Time') }}</label>
                <div class="d-flex align-items-center">
                    <span class="material-icons me-3">schedule</span>
                    <input type="time" class="form-control" id="track-time" name="time"
                           required="required" {% if track %}value="{{ track.time }}"{% endif %}>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_distance(track) -%}
    <div class="mb-3">
        <label for="track-distance" class="form-label input-field-margin">{{ gettext('Distance (in km)') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-icons me-3">route</span>
            <input type="number" step="0.01" min="0" class="form-control" id="track-distance"
                   name="distance" required="required"
                   {% if track %}value="{{ track.distance | round(2) }}"{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_duration(track) -%}
    <label for="track-duration-hours" class="form-label input-field-margin">{{ gettext('Duration') }}</label>
    <div class="mb-3 d-flex align-items-center">
        <span class="material-icons-outlined me-3">timer</span>

        <input type="number" step="1" min="0" class="form-control me-3"
               id="track-duration-hours" name="durationHours"
               placeholder="{{ gettext('Hours') }}"
               required="required"
               {% if track %}value="{{ track.durationHours }}"{% endif %}>

        <label for="track-duration-minutes" class="form-label">&nbsp;</label>
        <input type="number" step="1" min="0" max="59" class="form-control me-3"
               id="track-duration-minutes" name="durationMinutes"
               placeholder="{{ gettext('Minutes') }}" required="required"
               {% if track %}value="{{ track.durationMinutes }}"{% endif %}>

        <label for="track-duration-seconds" class="form-label">&nbsp;</label>
        <input type="number" step="1" min="0" max="59" class="form-control"
               id="track-duration-seconds" name="durationSeconds"
               placeholder="{{ gettext('Seconds') }}" required="required"
               {% if track %}value="{{ track.durationSeconds }}"{% endif %}>
    </div>
{%- endmacro %}

{% macro track_form_average_heart_rate(track) -%}
    <div class="mb-3">
        <label for="track-averageHeartRate" class="form-label input-field-margin">{{ gettext('Average Heart Rate') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-icons me-3">favorite_border</span>
            <input type="number" step="1" min="0" class="form-control" id="track-averageHeartRate"
                   name="averageHeartRate"
                   {% if track and track.averageHeartRate is not none %}value="{{ track.averageHeartRate }}"{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_elevation_sum(track) -%}
    <div class="mb-3">
        <label for="track-elevationSum" class="form-label input-field-margin">{{ gettext('Elevation Sum (in m)') }}</label>
        <div class="d-flex align-items-center">
            <span class="material-icons me-3">expand</span>
            <input type="number" step="1" min="0" class="form-control" id="track-elevationSum"
                   name="elevationSum"
                   {% if track and track.elevationSum is not none %}value="{{ track.elevationSum }}"{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro track_form_gpx(track, track_id) -%}
    {{ form_gpx(track, url_for('maps.showSingleTrack', track_id=track_id or -1 ), url_for('gpxTracks.downloadGpxTrackByTrackId', track_id=track_id  or -1), url_for('gpxTracks.deleteGpxTrackByTrackId', track_id=track_id or -1), gettext('No GPX file is linked to this track'), gettext('A GPX file is linked to this track') ) }}
{%- endmacro %}

{% macro form_gpx(item, mapUrl, downloadUrl, deleteUrl, placeholderText, gpxFileLinkedText) -%}
    <div class="mb-3">
        <label for="track-gpxFileName" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-icons me-3">location_on</span>
                <span>{{ gettext('GPX Track') }}</span>
            </div>
        </label>

        {% set hasGpxTrack = item and item.gpxFileName is not none %}

        <div class="input-field-margin">
            {% if item is defined %}
                <div class="d-flex mb-3 {% if not hasGpxTrack %}hidden{% endif %}" id="gpxControlsEnabled">
                    <span class="badge bg-success lh-lg rounded-pill d-flex align-items-center px-3">{{ gpxFileLinkedText }}</span>
                    <div id="gpxButtons" class="d-flex">
                        <a href="{{ mapUrl }}"
                           class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                           target="_blank">
                            <span class="material-icons fs-4">map</span>
                        </a>
                        <a href="{{ downloadUrl }}"
                           class="btn btn-primary btn-sm ms-3 d-flex align-items-center"
                           id="buttonGpxTrackDownload"
                           target="_blank">
                            <span class="material-icons fs-4">download</span>
                        </a>

                        <button type="button" class="btn btn-danger btn-sm ms-3 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete-modal-gpx">
                            <span class="material-icons fs-4">delete</span>
                        </button>

                        {% call macros.deleteModal(gettext('Delete GPX Track?'), gettext('Do you really want to delete this associated GPX file?'), 'gpx') %}
                            <a data-url="{{ deleteUrl }}" class="btn btn-danger" id="buttonGpxTrackDelete" data-bs-dismiss="modal">{{ gettext('Delete') }}</a>
                        {% endcall %}
                    </div>
                </div>
            {% endif %}
            <div class="{% if hasGpxTrack %}hidden{% endif %}" id="gpxControlsDisabled">
                <span class="mb-3 badge bg-secondary lh-lg rounded-pill px-3">{{ placeholderText }}</span>
            </div>
            <input class="form-control" type="file" id="track-gpxFileName" name="gpxTrack">
        </div>
    </div>
{%- endmacro %}

{% macro track_form_participants(track, participants) -%}
    <div class="mb-3">
        <label for="track-participants" class="form-label">
            <div class="d-flex align-items-center">
                <span class="material-icons me-3">group</span>
                <span>{{ gettext('Participants') }}</span>
            </div>
        </label>
        {% for participant in participants %}
            <div class="form-check input-field-margin">
                <input class="form-check-input participant-checkbox" type="checkbox" {% if track and participant.id|string in track.participants %}checked{% endif %} id="participant-{{ participant.id }}" name="participants" value="{{ participant.id }}">
                <label class="form-check-label" for="participant-{{ participant.id }}">
                    {{ participant.name }}
                </label>
            </div>
        {% endfor %}

        {% if not participants %}
            <div class="d-flex align-items-center ms-3">
                <span class="material-icons fs-4 me-2">info_outline</span>
                <span>{{ gettext('Add participants in the ') }}
                    <a href="{{ url_for('settings.settingsShow') }}#headline-participants">
                        {{ gettext('Settings') }}
                       </a>
                </span>
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro track_form_custom_field_input(field) -%}
    <div class="mb-3">
        <label for="track-{{ field.name }}" class="form-label input-field-margin">{{ field.name }}</label>
        <div class="d-flex align-items-center">
            <span class="material-icons me-3">drive_file_rename_outline</span>

            {% if field.type.name == 'STRING' %}
                <input type="text"
                       class="form-control"
                       id="track-{{ field.name }}"
                       name="{{ field.name }}"
                       {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                        {% if field.is_required %} required="required"{% endif %}
                >
            {% elif field.type.name == 'INTEGER' %}
                <input type="number"
                       step="1"
                       min="0"
                       class="form-control"
                       id="track-{{ field.name }}"
                       name="{{ field.name }}"
                       {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                        {% if field.is_required %} required="required"{% endif %}
                >
            {% elif field.type.name == 'FLOAT' %}
                <input type="number"
                       step="0.01"
                       min="0"
                       class="form-control"
                       id="track-{{ field.name }}"
                       name="{{ field.name }}"
                       {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                        {% if field.is_required %} required="required"{% endif %}
                >
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro render_maintenance_event_card(event) -%}
    <div class="row py-2">
        <div class="col col-12 mx-auto">
            <div class="card border-0">
                <div class="row g-0 border-start border-danger border-10 rounded-start">
                    <div class="col col-3 d-flex flex-row align-items-center justify-content-center margin-maintenance">
                        {{ track_type_icon_small(event.type, 'fs-3') }}
                    </div>

                    <div class="col col-9">
                        <div class="card-body ps-1 ps-md-3 d-flex justify-content-between">
                            <div class="d-flex align-items-center text-truncate">
                                <div class="card-title text-start mb-0 fs-6 me-3 d-lg-none">{{ event.event_date | format_date }}</div>
                                <div class="card-title text-start mb-0 fs-5 me-5 d-none d-lg-block">{{ event.event_date | format_date }}</div>
                                <div class="text-truncate fs-6 d-lg-none">{{ event.description }}</div>
                                <div class="text-truncate fs-5 d-none d-lg-block">{{ event.description }}</div>
                            </div>
                            <i class="fa-solid fa-wrench fa-fw fs-3 text-secondary"></i>
                        </div>

                        <a href="{{ url_for('maintenanceEvents.edit', event_id=event.id) }}" class="text-decoration-none stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}