<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Maintenance') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('maintenanceEvents') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        <h1>{{ gettext('Maintenance') }} <a href="{{ url_for('maintenanceEvents.add') }}"
                                                            class="link-light text-decoration-none d-flex-inline align-items-center">
                            <span class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span>
                        </a>
                        </h1>
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.track_type_quick_filter(url_for('maintenanceEvents.listMaintenanceEvents')) }}
                </div>

                {% for year, maintenanceEvents in maintenanceEventsByYear.items() %}
                    <h3 class="mt-4">{{ year }}</h3>

                    {% for maintenanceEvent in maintenanceEvents %}
                        <div class="row py-3">
                            <div class="col col-xxl-8 col-lg-10 col-sm-12 mx-auto px-xxl-5 px-xl-4 px-lg-3">
                                <a href="{{ url_for('maintenanceEvents.edit', event_id=maintenanceEvent.id) }}"
                                   class="text-decoration-none">
                                    <div class="card">
                                        <div class="row g-0 d-flex align-items-center p-2">
                                            <div class="col col-6 col-sm-4 col-md-2 d-flex align-items-center">
                                                <i class="fa-solid fa-wrench fa-fw fs-3 p-2 text-secondary me-3"></i>
                                                {% if maintenanceEvent.type.is_font_awesome_icon %}
                                                    <i class="fa-solid {{ maintenanceEvent.type.icon }} fa-fw rounded-circle fs-3 p-2 text-dark {{ maintenanceEvent.type.background_color }}"></i>
                                                {% else %}
                                                    <span class="material-icons rounded-circle fs-3 p-2 text-dark {{ maintenanceEvent.type.background_color }}">{{ maintenanceEvent.type.icon }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col col-6 col-sm-8 col-md-3 col-lg-2 text-start fs-5">
                                                {{ maintenanceEvent.eventDate | format_date() }}
                                            </div>
                                            <div class="col col-12 col-md-6 col-lg-8 text-start fs-5 text-truncate maintenance-event-description">
                                                {{ maintenanceEvent.description }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
