<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Maintenance') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('maintenanceEvents') }}
        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Maintenance'), url_for('maintenanceEvents.add')) %}
                            <i class="fa-solid fa-wrench fa-fw fs-2"></i>
                        {% endcall %}
                    </div>
                </div>

                <div class="mb-4">
                    {{ macros.track_type_quick_filter(url_for('maintenanceEvents.listMaintenanceEvents')) }}
                </div>

                {% for year, maintenanceEvents in maintenanceEventsByYear.items() %}
                    <h3 class="mt-4">{{ year }}</h3>

                    {% for maintenanceEvent in maintenanceEvents %}
                        <div class="row py-3">
                            <div class="col col-xxl-8 col-lg-10 col-sm-12 mx-auto px-xxl-5 px-xl-4 px-lg-3">
                                <a href="{{ url_for('maintenanceEvents.edit', event_id=maintenanceEvent.id) }}"
                                   class="text-decoration-none">
                                    <div class="card">
                                        <div class="row g-0 d-flex align-items-center p-2">
                                            <div class="col col-4 col-md-2 d-flex align-items-center">
                                                <i class="fa-solid fa-wrench fa-fw fs-3 p-2 text-secondary me-3"></i>
                                                {{ trackMacros.track_type_icon_small(maintenanceEvent.type, fontSize='fs-3') }}
                                            </div>
                                            <div class="col col-6 col-md-2 text-start fs-5 d-flex flex-column">
                                                <div>{{ maintenanceEvent.eventDate | format_date() }}</div>
                                                <div class="text-truncate maintenance-event-description d-md-none">{{ maintenanceEvent.description }}</div>
                                            </div>
                                            <div class="col col-md-6 text-start fs-5 text-truncate maintenance-event-description d-none d-md-block">
                                                {{ maintenanceEvent.description }}
                                            </div>
                                            <div class="col col-2 col-md-2 text-start fs-6 text-center">
                                                {{ (maintenanceEvent.distanceSinceEvent // 1000) }} km
                                                <div class="fw-light">{{ gettext('since event') }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
