<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Settings') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('settings') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                         {% call macros.headline(gettext('Settings')) %}
                            <span class="material-icons fs-1">settings</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        {% if errorMessage %}
                            <div class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                            </div>
                        {% endif %}

                        <form role="form" action="{{ url_for('settings.editSelfPost') }}" method="post">
                            <div class="mb-4">
                                <label for="user-password" class="form-label input-field-margin">{{ gettext('Password') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-icons me-3">vpn_key</span>
                                    <input type="password" class="form-control" id="user-password"
                                           name="password" required="required">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary input-field-margin">{{ gettext('Save') }}</button>
                        </form>

                        <form role="form" action="{{ url_for('settings.editSelfLanguagePost') }}" method="post"
                              class="mt-5">
                            <div class="mb-4">
                                <label for="user-language" class="form-label input-field-margin">{{ gettext('Language') }}</label>
                                <div class="d-flex align-items-center">
                                    <span class="material-icons me-3">translate</span>
                                    <select class="form-select" id="user-language" name="language" required="required">
                                        {% for language in languages %}
                                            <option value="{{ language.name }}" {% if userLanguage == language.name %}selected{% endif %}>{{ language.localized_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary input-field-margin">{{ gettext('Save') }}</button>
                        </form>
                    </div>
                </div>

                <hr class="mt-5"/>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        {% call macros.headline(gettext('Custom Track Fields'), '', 'fs-3') %}
                            <span class="material-icons fs-2">drive_file_rename_outline</span>
                        {% endcall %}

                        {% for trackType, customFields in customFieldsByTrackType.items() %}
                            <div class="row mt-5 mb-3">
                                <div class="col col-12 mx-auto">
                                    <h3 class="d-flex align-items-center justify-content-center">
                                        {% if trackType.is_font_awesome_icon %}
                                            <i class="fa-solid {{ trackType.icon }} fa-fw rounded-circle fs-2 p-2 text-dark {{ trackType.background_color }} me-3"></i>
                                        {% else %}
                                            <span class="material-icons rounded-circle fs-2 p-2 text-dark {{ trackType.background_color }} me-3">{{ trackType.icon }}</span>
                                        {% endif %}
                                        <span class="me-3">{{ trackType.get_localized_name() }}</span>
                                        <a href="{{ url_for('settings.customFieldsAdd', track_type=trackType.name) }}"
                                           class="link-light text-decoration-none d-flex-inline align-items-center">
                                            <span class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span>
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">{{ gettext('Name') }}</th>
                                        <th scope="col">{{ gettext('Type') }}</th>
                                        <th scope="col">{{ gettext('Is Required') }}</th>
                                        <th scope="col">{{ gettext('Action') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in customFields %}
                                        <tr>
                                            <td>{{ field.name }}</td>
                                            <td>{{ field.type.get_localized_name() }}</td>
                                            <td>{{ field.is_required }}</td>
                                            <td>
                                                <a href="{{ url_for('settings.customFieldsEdit', field_id=field.id) }}"
                                                   class="link-light text-decoration-none">
                                                    <span class="p-1 fs-5 material-icons">edit</span>
                                                </a>
                                                <a href=""
                                                   class="link-light text-decoration-none"
                                                   data-bs-toggle="modal" data-bs-target="#delete-modal-{{ field.id }}">
                                                    <span class="p-1 fs-5 material-icons">delete</span>
                                                </a>

                                                {% call macros.deleteModal(gettext('Delete Custom Field?'), gettext('Do you really want to delete the custom field "%(name)s"?', name=field.name), field.id) %}
                                                    <a href="{{ url_for('settings.customFieldsDelete', field_id=field.id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
                                                {% endcall %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>

                <hr class="mt-5"/>

                <div class="row mt-5 text-start">
                    <div class="col col-11 col-md-9 mx-auto">
                        <div class="row mb-3">
                            <div class="col col-12 mx-auto">
                                {% call macros.headline(gettext('Participants'), url_for('settings.participantsAdd'), 'fs-3') %}
                                    <span class="material-icons fs-2">group</span>
                                {% endcall %}
                            </div>
                        </div>

                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">{{ gettext('Name') }}</th>
                                    <th scope="col">{{ gettext('Action') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for participant in participants %}
                                    <tr>
                                        <td>{{ participant.name }}</td>
                                        <td>
                                            <a href="{{ url_for('settings.participantsEdit', participant_id=participant.id) }}"
                                               class="link-light text-decoration-none">
                                                <span class="p-1 fs-5 material-icons">edit</span>
                                            </a>
                                            <a href="" class="link-light text-decoration-none"
                                               data-bs-toggle="modal" data-bs-target="#delete-modal-participant-{{ participant.id }}">
                                                <span class="p-1 fs-5 material-icons">delete</span>
                                            </a>

                                            {% call macros.deleteModal(gettext('Delete Participant?'), gettext('Do you really want to delete the participant "%(name)s"?', name=participant.name), 'participant-' + participant.id|string) %}
                                                <a href="{{ url_for('settings.participantsDelete', participant_id=participant.id) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
                                            {% endcall %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="mt-5"/>

                <div class="row mt-5 text-start">
                    <div class="col col-6 mx-auto">
                        <h3 class="text-center mb-5">{{ gettext('Select Information to show for each track') }}</h3>
                        <form role="form" action="{{ url_for('settings.editSelfTrackInfoItems') }}" method="post">
                            {% for infoItem in infoItems %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           {% if infoItem and infoItem.is_activated %}checked{% endif %}
                                           id="infoItem-{{ infoItem.type.name }}"
                                           name="{{ infoItem.type.name }}">
                                    <label class="form-check-label" for="infoItem-{{ infoItem.type.name }}">
                                        {{ infoItem.type.get_localized_name() }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary mt-4">{{ gettext('Save') }}</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
