<!DOCTYPE html>

{% macro renderAchievement(achievement) -%}
    <div class="col">
        <div class="tile">
            <div class="diamond d-flex align-items-center justify-content-center mx-auto bg-secondary-subtle {{ achievement.color }} text-dark">
                <div class="label fw-bold">
                    {% if achievement.is_font_awesome_icon %}
                        <i class="fa-solid {{ achievement.icon }} fa-fw"></i>
                    {% elif achievement.is_outlined_icon %}
                        <span class="material-symbols-outlined">{{ achievement.icon }}</span>
                    {% else %}
                         <span class="material-symbols-outlined filled">{{ achievement.icon }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card height-60">
            <div class="card-body">
                <h5 class="card-title mt-5">{{ achievement.title }}</h5>
                <p class="card-text">{{ achievement.description }}</p>
            </div>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Achievements') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/achievements.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('achievements') }}

        {% import 'sports/sportMacros.jinja2' as sportMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                {% for sportType, achievements in achievements.items() %}
                    <div class="row mt-3 mb-3">
                        <div class="col col-12 mx-auto">
                            <h3 class="d-flex align-items-center justify-content-center">
                                {{ sportMacros.sport_type_icon_small(sportType, classes='me-3')}}
                                <span>{{ sportType.get_localized_name() }}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5">
                        {% for achievement in achievements %}
                            {{ renderAchievement(achievement) }}
                        {% endfor %}
                    </div>

                    <div class="mt-5">&nbsp;</div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
