<!DOCTYPE html>

{% macro renderAchievement(icon, borderColor, title, description) -%}
    <div class="col">
        <div class="tile">
            <div class="diamond d-flex align-items-center justify-content-center mx-auto bg-secondary-subtle {{ borderColor }} text-dark">
                <div class="label fw-bold">
                    <span class="material-icons">{{ icon }}</span>
                </div>
            </div>
        </div>
        <div class="card height-60">
            <div class="card-body">
                <h5 class="card-title mt-5">{{ title }}</h5>
                <p class="card-text">{{ description }}</p>
            </div>
        </div>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Achievements') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/achievements.css") }}"/>
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('achievements') }}

        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                {% for trackType, achievements in achievements.items() %}
                    <div class="row mt-3 mb-3">
                        <div class="col col-12 mx-auto">
                            <h3 class="d-flex align-items-center justify-content-center">
                                {{ trackMacros.track_type_icon_small(trackType, classes='me-3')}}
                                <span>{{ trackType.get_localized_name() }}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5">
                        {% for achievement in achievements %}
                            {{ renderAchievement(achievement.icon, achievement.color, achievement.title, achievement.description) }}
                        {% endfor %}
                    </div>

                    <div class="mt-5">&nbsp;</div>
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
