<!DOCTYPE html>

{% macro materialize_icon(name, iconName, outlined=false) -%}
    <tr data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ iconName }}">
        <td class="pe-5 fs-5">{{ name }}</td>
        <td class="fs-4 icon d-flex align-items-center" data-icon="{{ iconName }}">
            <span class="material-icons{% if outlined %}-outlined{% endif %}">{{ iconName }}</span>
            <span class="count fs-5 ms-2">&nbsp;&nbsp;</span>
        </td>
    </tr>
{%- endmacro %}

{% macro fontawesome_icon(name, iconName) -%}
    <tr data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ iconName }}">
        <td class="pe-5 fs-5 text-primary">{{ name }}</td>
        <td class="fs-4 icon d-flex align-items-center" data-icon="{{ iconName }}">
            <i class="fa-solid {{ iconName }} fa-fw"></i>
            <span class="count fs-5 ms-2">&nbsp;&nbsp;</span>
        </td>
    </tr>
{%- endmacro %}

{% macro easter_egg_icon(name, iconName) -%}
    <tr data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{{ iconName }}">
        <td class="pe-5 fs-5">{{ name }}</td>
        <td class="fs-4 icon d-flex align-items-center" data-icon="{{ iconName }}">
            <img src="{{ url_for('static', filename="images/easterEggs/" + iconName + ".svg") }}" style="height: 1.4rem; widht: 1.4rem; filter: invert()"/>
            <span class="count fs-5 ms-2">&nbsp;&nbsp;</span>
        </td>
    </tr>
{%- endmacro %}

{% macro group(name) -%}
    <div class="mb-5">
        <h2>{{ name }}</h2>
        <table>
            {{ caller() }}
        </table>
    </div>
{%- endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Icons') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <style>
            td {
                padding-bottom: 0.5rem;
            }

            td:hover {
                cursor: pointer;
            }
        </style>
    </head>
    <body class="bg-dark text-light">
        <div id="main" class="center-align">
            <section class="py-5 d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-between">
                    {% call group('track types') %}
                        {{ materialize_icon('biking', 'directions_bike') }}
                        {{ materialize_icon('running', 'directions_run') }}
                        {{ materialize_icon('hiking', 'hiking') }}
                        {{ easter_egg_icon('biking easter egg', 'biking_easter_egg') }}
                        {{ easter_egg_icon('running easter egg', 'running_easter_egg') }}
                        {{ easter_egg_icon('hiking easter egg', 'hiking_easter_egg') }}
                    {% endcall %}

                    {% call group('track properties') %}
                        {{ materialize_icon('distance', 'route') }}
                        {{ materialize_icon('duration', 'timer', true) }}
                        {{ materialize_icon('speed', 'speed') }}
                        {{ materialize_icon('average heart rate', 'favorite_border') }}
                        {{ materialize_icon('elevation sum', 'expand') }}
                        {{ materialize_icon('participants', 'group') }}
                    {% endcall %}

                    {% call group('track form') %}
                        {{ materialize_icon('name', 'edit') }}
                        {{ materialize_icon('date', 'event') }}
                        {{ materialize_icon('start time', 'schedule') }}
                        {{ materialize_icon('distance', 'route') }}
                        {{ materialize_icon('duration', 'timer', true) }}
                        {{ materialize_icon('average heart rate', 'favorite_border') }}
                        {{ materialize_icon('elevation sum', 'expand') }}
                        {{ materialize_icon('custom field', 'drive_file_rename_outline') }}
                        {{ materialize_icon('participants', 'group') }}
                        {{ materialize_icon('gpx track', 'location_on') }}
                    {% endcall %}
                </div>

                <div class="d-flex flex-column justify-content-between">
                    {% call group('gpx tracks') %}
                        {{ materialize_icon('open map', 'map') }}
                        {{ materialize_icon('download map', 'download') }}
                        {{ materialize_icon('delete', 'delete') }}
                    {% endcall %}

                    {% call group('month goals') %}
                        {{ materialize_icon('month goal distance', 'route') }}
                        {{ materialize_icon('month goal count', 'format_list_numbered') }}
                    {% endcall %}

                    {% call group('month goal form') %}
                        {{ materialize_icon('track type', 'stars') }}
                        {{ materialize_icon('year', 'calendar_today') }}
                        {{ materialize_icon('minimum distance', 'route') }}
                        {{ materialize_icon('perfect distance', 'route') }}
                        {{ materialize_icon('minimum number', 'format_list_numbered') }}
                        {{ materialize_icon('perfect number', 'format_list_numbered') }}
                    {% endcall %}

                    {% call group('user form') %}
                        {{ materialize_icon('name', 'person') }}
                        {{ materialize_icon('password', 'vpn_key') }}
                    {% endcall %}

                    {% call group('charts') %}
                        {{ materialize_icon('bar chart', 'bar_chart') }}
                        {{ materialize_icon('pie chart', 'pie_chart') }}
                        {{ materialize_icon('calendar chart', 'calendar_month') }}
                    {% endcall %}

                   {% call group('participant form') %}
                        {{ materialize_icon('name', 'edit') }}
                    {% endcall %}
                </div>

                <div class="d-flex flex-column justify-content-between">
                    {% call group('maintenance form') %}
                        {{ fontawesome_icon('maintenance', 'fa-wrench') }}
                        {{ materialize_icon('track type', 'stars') }}
                        {{ materialize_icon('date', 'event') }}
                        {{ materialize_icon('time', 'schedule') }}
                        {{ materialize_icon('description', 'article') }}
                    {% endcall %}

                    {% call group('planned tour travel types') %}
                        {{ materialize_icon('none', 'home') }}
                        {{ materialize_icon('by car', 'directions_car') }}
                        {{ materialize_icon('by train', 'train') }}
                    {% endcall %}

                    {% call group('planned tour direction types') %}
                        {{ materialize_icon('roundtrip', 'refresh') }}
                        {{ materialize_icon('single', 'turn_sharp_right') }}
                        {{ materialize_icon('return', 'sync_alt') }}
                    {% endcall %}

                     {% call group('planned tour form') %}
                        {{ fontawesome_icon('planned tours', 'fa-lightbulb') }}
                        {{ materialize_icon('track type', 'stars') }}
                        {{ materialize_icon('name', 'edit') }}
                        {{ materialize_icon('gpx track', 'location_on') }}
                        {{ materialize_icon('share', 'share') }}
                        {{ materialize_icon('arrival method', 'arrow_forward') }}
                        {{ materialize_icon('departure method', 'arrow_back') }}
                        {{ materialize_icon('direction', 'directions') }}
                    {% endcall %}

                    {% call group('achievements') %}
                        {{ materialize_icon('achievement streak', 'sports_score') }}
                        {{ materialize_icon('achievement longest track', 'route') }}
                        {{ materialize_icon('achievement total distance', 'map') }}
                        {{ materialize_icon('achievement best month', 'calendar_month') }}
                    {% endcall %}
                </div>

                <div class="d-flex flex-column justify-content-between">
                    {% call group('settings') %}
                        {{ materialize_icon('settings', 'settings') }}
                        {{ materialize_icon('password', 'vpn_key') }}
                        {{ materialize_icon('language', 'translate') }}
                    {% endcall %}

                    {% call group('custom field form') %}
                        {{ materialize_icon('name', 'edit') }}
                        {{ materialize_icon('type', 'list') }}
                        {{ materialize_icon('is required', 'question_mark') }}
                    {% endcall %}

                    {% call group('misc') %}
                        {{ fontawesome_icon('button today', 'fa-calendar-day') }}
                        {{ fontawesome_icon('button year/month chooser', 'fa-calendar-days') }}
                        {{ fontawesome_icon('search', 'fa-magnifying-glass') }}
                        {{ materialize_icon('save', 'save') }}
                        {{ materialize_icon('delete', 'delete') }}
                    {% endcall %}

                    {% call group('navbar/headlines') %}
                        {{ fontawesome_icon('tracks', 'fa-route') }}
                        {{ materialize_icon('goals', 'flag') }}
                        {{ materialize_icon('analytics', 'leaderboard') }}
                        {{ materialize_icon('charts', 'leaderboard') }}
                        {{ materialize_icon('achievements', 'emoji_events') }}
                        {{ materialize_icon('annual statistics', 'stacked_line_chart') }}
                        {{ materialize_icon('map', 'map') }}
                        {{ fontawesome_icon('maintenance', 'fa-wrench') }}
                        {{ fontawesome_icon('planned tours', 'fa-lightbulb') }}
                        {{ materialize_icon('more', 'format_list_bulleted') }}
                        {{ materialize_icon('about', 'info_outline') }}
                        {{ materialize_icon('profile', 'person') }}
                        {{ materialize_icon('settings', 'settings') }}
                        {{ materialize_icon('users', 'groups') }}
                        {{ materialize_icon('custom fields', 'drive_file_rename_outline') }}
                    {% endcall %}
                </div>
            </section>
        </div>
        {{ macros.scripts() }}

        <script>
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
                container: 'body'
            }));

            const icons = document.querySelectorAll('.icon');
            for(let i = 0; i < icons.length; i++)
            {
                let icon = icons[i];
                icon.addEventListener('mouseover', function()
                {
                    let iconName = icon.dataset.icon;
                    let matchingIcons = document.querySelectorAll('.icon[data-icon="' + iconName + '"');
                    icon.querySelector('.count').innerHTML = '' + matchingIcons.length + 'x';

                    for(let j = 0; j < matchingIcons.length; j++)
                    {
                        matchingIcons[j].classList.toggle('text-danger', true)
                    }
                });
                icon.addEventListener('mouseout', function()
                {
                    for(let j = 0; j < icons.length; j++)
                    {
                        icons[j].classList.toggle('text-danger', false)
                        icons[j].querySelector('.count').innerHTML = '&nbsp;&nbsp;';
                    }
                });
            }
        </script>
    </body>
</html>

