<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Icons') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
        <style>
            td{
                padding-bottom: 0.5rem;
            }
        </style>
    </head>
    <body class="bg-dark text-light">
        <div id="main" class="center-align">
            <section class="py-5 container d-flex justify-content-around vh-100">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h2>track types</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">biking</td>
                                <td class="fs-4"><span class="material-icons">directions_bike</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">running</td>
                                <td class="fs-4"><span class="material-icons">directions_run</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">hiking</td>
                                <td class="fs-4"><i class="fa-solid fa-person-hiking fa-fw"></i></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <h2>track properties</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">distance</td>
                                <td class="fs-4"><span class="material-icons">route</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">duration</td>
                                <td class="fs-4"><span class="material-icons">timer</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">speed</td>
                                <td class="fs-4"><span class="material-icons">speed</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">average heart rate</td>
                                <td class="fs-4"><span class="material-icons">favorite_border</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">elevation sum</td>
                                <td class="fs-4"><span class="material-icons">expand</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">participants</td>
                                <td class="fs-4"><span class="material-icons">group</span></td>
                            </tr>
                        </table>
                    </div>

                    <div>

                        <h2>gpx tracks</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">open map</td>
                                <td class="fs-4"><span class="material-icons">map</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">download map</td>
                                <td class="fs-4"><span class="material-icons">download</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">delete</td>
                                <td class="fs-4"><span class="material-icons">delete</span></td>
                            </tr>
                        </table>
                    </div>

                    <div>

                        <h2>month goals</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">moth goal distance</td>
                                <td class="fs-4"><span class="material-icons">route</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">moth goal count</td>
                                <td class="fs-4"><span class="material-icons">format_list_numbered</span></td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h2>charts</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">bar chart</td>
                                <td class="fs-4"><span class="material-icons">bar_chart</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">pie chart</td>
                                <td class="fs-4"><span class="material-icons">pie_chart</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">calendar chart</td>
                                <td class="fs-4"><span class="material-icons">calendar_month</span></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <h2>achievements</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">achievement streak</td>
                                <td class="fs-4"><span class="material-icons">sports_score</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">achievement longest track</td>
                                <td class="fs-4"><span class="material-icons">route</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">achievement total distance</td>
                                <td class="fs-4"><span class="material-icons">map</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">achievement best month</td>
                                <td class="fs-4"><span class="material-icons">calendar_month</span></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <h2>misc</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">maintenance</td>
                                <td class="fs-4"><i class="fa-solid fa-wrench fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">planned tours</td>
                                <td class="fs-4"><i class="fa-solid fa-route fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">button today</td>
                                <td class="fs-4"><i class="fa-solid fa-calendar-day fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">button year/month chooser</td>
                                <td class="fs-4"><i class="fa-solid fa-calendar-days fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">search</td>
                                <td class="fs-4"><i class="fa-solid fa-magnifying-glass fa-fw"></i></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <h2>navbar/headlines</h2>
                        <table>
                            <tr>
                                <td class="pe-5 fs-5">tracks</td>
                                <td class="fs-4"><i class="fa-solid fa-route fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">goals</td>
                                <td class="fs-4"><span class="material-icons">flag</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">charts</td>
                                <td class="fs-4"><span class="material-icons">leaderboard</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">achievements</td>
                                <td class="fs-4"><span class="material-icons">emoji_events</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">map</td>
                                <td class="fs-4"><span class="material-icons">map</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">maintenance</td>
                                <td class="fs-4"><i class="fa-solid fa-wrench fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">planned tours</td>
                                <td class="fs-4"><i class="fa-solid fa-lightbulb fa-fw"></i></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">about</td>
                                <td class="fs-4"><span class="material-icons">info_outline</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">profile</td>
                                <td class="fs-4"><span class="material-icons">person</span></td>
                            </tr>
                            <tr>
                                <td class="pe-5 fs-5">settings</td>
                                <td class="fs-4"><span class="material-icons">settings</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        {{ macros.scripts() }}
    </body>
</html>
