{% macro header() -%}
    <meta charset="UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <link href="{{ url_for('static', filename="css/libs/bootstrap.min.css") }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/sportTracker.css") }}"/>

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='touch_icon.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{%- endmacro %}

{% macro scripts() -%}
    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/fontawesome.solid.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/fontawesome.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/mousetrap.min.js') }}" type="text/javascript"></script>
    <script defer src="{{ url_for('static', filename='js/sportTracker.js') }}" type="text/javascript"></script>
{%- endmacro %}


{% macro navbar(activeLink) -%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
                <img alt="SportTracker logo" src="{{ url_for('static', filename="images/SportTracker.png") }}"
                     width="35" height="35" class="d-inline-block align-text-top">
                <span class="ms-2">SportTracker - {{ versionName }}</span>
            </a>
            {% if current_user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
           {% endif %}
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                {% if current_user.is_authenticated %}
                    {% if current_user.isAdmin %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center {% if activeLink == 'users' %}active {% endif %}"
                                   href="{{ url_for('users.listUsers') }}"><span class="navbar-icon"><span
                                        class="material-icons fs-5">groups</span></span>&nbsp;{{ gettext('Users') }}
                                </a>
                            </li>
                        </ul>

                        {{ navbar_user(false) }}
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center {% if activeLink == 'tracks' %}active {% endif %}"
                                   href="/">
                                    <span class="navbar-icon">
                                        <i class="fa-solid fa-route fa-fw fs-6"></i>
                                    </span>&nbsp;{{ gettext('Tracks') }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center {% if activeLink == 'monthGoals' %}active {% endif %}"
                                   href="{{ url_for('monthGoals.listMonthGoals') }}">
                                    <span class="navbar-icon">
                                        <span class="material-icons fs-5">flag</span>
                                    </span>&nbsp;{{ gettext('Goals') }}
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center {% if activeLink == 'charts' or activeLink == 'achievements' or activeLink == 'annualAchievements' or activeLink == 'calendar' %}active {% endif %}" href="#" role="button" data-bs-toggle="dropdown">
                                    <span class="navbar-icon">
                                        <span class="material-icons fs-5">leaderboard</span>
                                    </span>&nbsp;{{ gettext('Analytics') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'charts' %}active {% endif %}"
                                           href="{{ url_for('charts.chartChooser') }}">
                                            <span class="navbar-icon">
                                                <span class="material-icons fs-5">leaderboard</span>
                                            </span>&nbsp;{{ gettext('Charts') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'achievements' %}active {% endif %}"
                                           href="{{ url_for('achievements.showAchievements') }}">
                                            <span class="navbar-icon">
                                                <span class="material-icons fs-5">emoji_events</span>
                                            </span>&nbsp;{{ gettext('Achievements') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'calendar' %}active {% endif %}"
                                           href="{{ url_for('charts.chartCalendar', year=currentYear) }}">
                                            <span class="navbar-icon">
                                                <span class="material-icons fs-5">calendar_month</span>
                                            </span>&nbsp;{{ gettext('Calendar') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'annualAchievements' %}active {% endif %}"
                                           href="{{ url_for('annualAchievements.showAnnualAchievements') }}">
                                            <span class="navbar-icon">
                                                <span class="material-icons fs-5">stacked_line_chart</span>
                                            </span>&nbsp;{{ gettext('Annual Statistics') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center {% if activeLink == 'map' %}active {% endif %}"
                                   href="{{ url_for('maps.showAllTracksOnMap') }}">
                                    <span class="navbar-icon">
                                        <span class="material-icons fs-5">map</span>
                                    </span>&nbsp;{{ gettext('Map') }}
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center {% if activeLink == 'maintenanceEvents' or activeLink == 'plannedTours' or activeLink == 'about'%}active {% endif %}" href="#" role="button" data-bs-toggle="dropdown">
                                    <span class="navbar-icon">
                                        <span class="material-icons fs-5">format_list_bulleted</span>
                                    </span>&nbsp;{{ gettext('More') }}
                                    {% set numberOfUpdatedPlannedTours = newPlannedTourIds|length + updatedPlannedTourIds|length %}
                                    {% if numberOfUpdatedPlannedTours > 0 %}
                                        <span class="badge rounded-pill bg-danger ms-1">
                                            {{ numberOfUpdatedPlannedTours }}
                                        </span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'maintenanceEvents' %}active {% endif %}"
                                           href="{{ url_for('maintenanceEvents.listMaintenanceEvents') }}">
                                            <span class="navbar-icon">
                                                <i class="fa-solid fa-wrench fa-fw fs-6"></i>
                                            </span>&nbsp;{{ gettext('Maintenance') }}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'plannedTours' %}active {% endif %}"
                                           href="{{ url_for('plannedTours.listPlannedTours') }}">
                                            <span class="navbar-icon">
                                                <i class="fa-solid fa-lightbulb fa-fw fs-6"></i>
                                            </span>&nbsp;{{ gettext('Planned Tours') }}
                                            {% set numberOfUpdatedPlannedTours = newPlannedTourIds|length + updatedPlannedTourIds|length %}
                                            {% if numberOfUpdatedPlannedTours > 0 %}
                                                <span class="badge rounded-pill bg-danger ms-1">
                                                    {{ numberOfUpdatedPlannedTours }}
                                                </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% if current_user.isTileHuntingActivated %}
                                        <li>
                                            <a class="dropdown-item d-flex align-items-center {% if activeLink == 'tileHunting' %}active {% endif %}"
                                               href="{{ url_for('maps.showTileHuntingMap') }}">
                                                <span class="navbar-icon">
                                                    <span class="material-icons-outlined fs-5">explore</span>
                                                </span>&nbsp;{{ gettext('Tile Hunting') }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center {% if activeLink == 'about' %}active {% endif %}"
                                           href="{{ url_for('general.about') }}">
                                            <span class="navbar-icon">
                                                <span class="material-icons fs-5">info_outline</span>
                                            </span>&nbsp;{{ gettext('About') }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex" role="search" action="{{ url_for('search.performSearch') }}"
                              method="GET">
                            <input class="form-control me-2" type="search" placeholder="{{ gettext('Search') }}"
                                   name="searchText" value="{% if searchText %}{{ searchText }}{% endif %}">
                        </form>

                        {{ navbar_user() }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
{%- endmacro %}

{% macro navbar_user(showSettings=true) -%}
    <div class="dropdown" data-bs-theme="dark">
        <a class="nav-link dropdown-toggle d-flex align-items-center justify-content-start text-white mx-lg-3 me-3 mt-3 mb-2 my-lg-0"
           href="#" role="button" data-bs-toggle="dropdown">
            <div class="d-flex align-items-center">
                <span class="navbar-icon">
                    <span class="material-icons fs-4">person</span>
                </span>&nbsp;<span class="user-name-max-width text-truncate">{{ current_user.username|capitalize }}</span>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            {% if showSettings %}
                <li>
                    <a class="dropdown-item  d-flex align-items-center justify-content-center"
                       href="{{ url_for('settings.settingsShow') }}">
                        <span class="navbar-icon">
                            <span class="material-icons fs-5">settings</span>
                        </span>&nbsp;{{ gettext('Settings') }}
                    </a>
                <li>
                    <hr class="dropdown-divider">
                </li>
            {% endif %}
            <li>
                <div class="dropdown-item">
                    <a href="{{ url_for('authentication.logout') }}" class="btn btn-danger d-flex align-items-center" id="button-logout">
                        <span class="material-icons text-light fs-5">logout</span>&nbsp;{{ gettext('Logout') }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
{%- endmacro %}

{% macro track_type_quick_filter(redirectUrl) -%}
    <div class="d-flex flex-row align-items-center justify-content-center">
        {% for trackType, isActive in quickFilterState.get_states().items() %}
            <a href="{{ url_for('quickFilter.toggleQuickFilter', trackType=trackType.name, redirectUrl=redirectUrl) }}" class="quick-filter lh-1 {% if not loop.last %}me-3{% endif %}">
                {{ track_type_quick_filter_button(trackType, isActive) }}
            </a>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro track_type_quick_filter_button(trackType, isActive) -%}
    {% if isActive %}
        {% set backgroundColor=trackType.background_color %}
    {% else %}
        {% set backgroundColor='bg-secondary' %}
    {% endif %}

    {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}
    {{ trackMacros.track_type_icon_small(trackType, fontSize='fs-4', backgroundColorOverride=backgroundColor) }}
{%- endmacro %}

{% macro deleteModal(title, text, idSuffix='0') -%}
    <div class="modal fade" tabindex="-1" id="delete-modal-{{ idSuffix }}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    <p>{{ text }}</p>
                </div>
                <div class="modal-footer">
                    {{ caller() }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ gettext('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro headline(headline, addUrl='', size='fs-1') -%}
    <div class="{{ size }} mb-2 d-flex align-items-center justify-content-center headline">
        <span class="headline-icon d-flex align-items-center justify-content-center">
            {{ caller() }}
        </span>
        <span class="ms-1 me-3 headline-text">{{ headline }}</span>
        {% if addUrl %}
            <a href="{{ addUrl }}" class="link-light text-decoration-none d-flex-inline align-items-center">
                <span class="rounded-circle bg-primary p-1 fs-3 material-icons">add</span>
            </a>
        {% endif %}
    </div>
{%- endmacro %}