{% macro header() -%}
    <meta charset="UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{{ url_for('static', filename="css/libs/bootstrap.min.css") }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/sportTracker.css") }}"/>

    <link rel="apple-touch-icon" href="{{ url_for('static', filename='touch_icon.png') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{%- endmacro %}

{% macro scripts() -%}
    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/fontawesome.solid.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/fontawesome.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libs/mousetrap.min.js') }}" type="text/javascript"></script>
    <script defer src="{{ url_for('static', filename='js/sportTracker.js') }}" type="text/javascript"></script>
{%- endmacro %}


{% macro navbar(activeLink) -%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img alt="SportTracker logo" src="{{ url_for('static', filename="images/SportTracker.png") }}"
                     width="35" height="35" class="d-inline-block align-top">
                SportTracker - {{ versionName }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                        {% if current_user.isAdmin %}
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'users' %}active {% endif %}"
                                   href="{{ url_for('users.listUsers') }}">{{ gettext('Users') }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'tracks' %}active {% endif %}"
                                   href="/">{{ gettext('Tracks') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'monthGoals' %}active {% endif %}"
                                   href="{{ url_for('monthGoals.listMonthGoals') }}">{{ gettext('Goals') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'charts' %}active {% endif %}"
                                   href="{{ url_for('charts.chartChooser') }}">{{ gettext('Charts') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'achievements' %}active {% endif %}"
                                   href="{{ url_for('achievements.showAchievements') }}">{{ gettext('Achievements') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'map' %}active {% endif %}"
                                   href="{{ url_for('maps.showAllTracksOnMap') }}">{{ gettext('Map') }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if activeLink == 'about' %}active {% endif %}"
                                   href="{{ url_for('general.about') }}">{{ gettext('About') }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>

                {% if current_user.is_authenticated %}
                    <form class="d-flex" role="search" action="{{ url_for('search.performSearch') }}" method="GET">
                        <input class="form-control me-2" type="search" placeholder="{{ gettext('Search') }}" name="searchText" value="{% if searchText %}{{ searchText }}{% endif %}">
                    </form>

                    <div class="d-flex align-items-center justify-content-between mt-3 mt-sm-0">
                        <div class="text-white mx-md-3 me-3 my-2 my-md-0">
                            <a href="{{ url_for('settings.settingsShow') }}"
                               class="link-light text-decoration-none d-flex align-items-center"><span
                                    class="material-icons">person</span> {{ current_user.username|capitalize }}</a>
                        </div>
                        <a href="{{ url_for('authentication.logout') }}" class="btn btn-danger">Logout</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
{%- endmacro %}

{% macro customFieldInput(field) -%}
    <div class="mb-3">
        <label for="track-{{ field.name }}" class="form-label">{{ field.name }}</label>
        {% if field.type.name == 'STRING' %}
            <input type="text"
                   class="form-control"
                   id="track-{{ field.name }}"
                   name="{{ field.name }}"
                   {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                    {% if field.is_required %} required="required"{% endif %}
            >
        {% elif field.type.name == 'INTEGER' %}
            <input type="number"
                   step="1"
                   min="0"
                   class="form-control"
                   id="track-{{ field.name }}"
                   name="{{ field.name }}"
                   {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                    {% if field.is_required %} required="required"{% endif %}
            >
        {% elif field.type.name == 'FLOAT' %}
            <input type="number"
                   step="0.01"
                   min="0"
                   class="form-control"
                   id="track-{{ field.name }}"
                   name="{{ field.name }}"
                   {% if track and track.model_extra[field.name] is not none %}value="{{ track.model_extra[field.name] }}"{% endif %}
                    {% if field.is_required %} required="required"{% endif %}
            >
        {% endif %}
    </div>
{%- endmacro %}

