<!DOCTYPE html>

{% macro render_pagination(pagination) %}
    <h4>{{ pagination.first }} - {{ pagination.last }} {{ gettext('of') }} {{ pagination.total }}</h4>

    <nav>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('search.performSearch', searchText=searchText, pageNumber=pagination.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for pageNumber in pagination.iter_pages() %}
                {% if pageNumber %}
                    {% if pageNumber != pagination.page %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('search.performSearch', searchText=searchText, pageNumber=pageNumber) }}">{{ pageNumber }}</a></li>
                    {% else %}
                        <li class="page-item active"><a class="page-link" href="{{ url_for('search.performSearch', searchText=searchText, pageNumber=pageNumber) }}">{{ pageNumber }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('search.performSearch', searchText=searchText, pageNumber=pagination.next_num) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Search Results') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('search') }}

        {% import 'tracks/trackMacros.jinja2' as trackMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row mb-3">
                    <div class="col col-12 mx-auto">
                        <h1>{{ gettext('Search Results') }}</h1>
                    </div>
                </div>

                 <div class="row mb-3">
                    <div class="col col-12">
                        {{ render_pagination(pagination) }}
                    </div>
                </div>

                {% for monthName, tracks in results.items() %}
                    <h3 class="mt-4">{{ monthName }}</h3>
                    {% for track in tracks %}
                        <div class="d-none d-lg-block">
                            {{ trackMacros.render_track_card(track, renderAsRow=true, useSmallIcon=true) }}
                        </div>
                        <div class="d-lg-none">
                            {{ trackMacros.render_track_card(track, renderAsRow=false, useSmallIcon=true) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
