{% import 'charts/chartMacros.jinja2' as chartMacros with context %}
{% call chartMacros.chart() %}
     const data = [
        {
            x: {{ chartDataSpeedPerSport['dates'] }},
            y: {{ chartDataSpeedPerSport['values'] }},
            type: 'bar',
            marker: {
                color: '{{ chartDataSpeedPerSport.type.background_color_hex }}'
            },
            name: '{{ chartDataSpeedPerSport.type.name | capitalize }}',
            text: {{ chartDataSpeedPerSport['texts'] }}
        },
    ];

    const plotlyLayout = {
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        title: {
            text: '{{ gettext('Speed per Track') }}',
            font: {
                color: '#FFFFFF'
            }
        },
        xaxis: {
            type: 'category',
            color: '#FFFFFF',
            automargin: true
        },
        yaxis: {
            title: '{{ gettext('Speed in km/h') }}',
            rangemode: 'tozero',
            tickformat: '.0f',
            showline: true,
            color: '#FFFFFF',
            range: [{{ chartDataSpeedPerSport.min }}, {{ chartDataSpeedPerSport.max }}]
        },
        barmode: 'group',
        legend: {
            font: {
                color: '#FFFFFF'
            }
        }
    }

    const plotlyConfig = {
        responsive: true,
        displayModeBar: false
    };

    Plotly.newPlot('chartContainer', data, plotlyLayout, plotlyConfig);
{% endcall %}