<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}
        {% import 'sports/sportMacros.jinja2' as sportMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Charts')) %}
                        <span class="material-symbols-outlined filled fs-1">leaderboard</span>
                    {% endcall %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-12 mx-auto">
                        <h3>{{ gettext('Choose track type') }}</h3>

                        {% for sportType in distanceSportTypes %}
                            <div class="row mt-5 mb-3">
                                <div class="col col-12 mx-auto">
                                    <h3 class="d-flex align-items-center justify-content-center">
                                        {{ sportMacros.sport_type_icon_small(sportType, classes='me-3') }}
                                        <span class="me-3">{{ sportType.get_localized_name() }}</span>

                                        <a href="{{ url_for('charts.chartDistancePerParticipant', sport_type=sportType.name) }}"
                                           class="btn btn-sm btn-primary">
                                            <span class="fs-5 text-light">{{ gettext('Select') }}</span>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
