<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <h1>{{ gettext('Charts') }}</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartDistancePerMonth') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Month') }}</div>
                        </a>
                    </div>
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartDistancePerYear') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Year') }}</div>
                        </a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartAverageSpeed') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Average Speed') }}</div>
                        </a>
                    </div>
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartDistancePerCustomFieldChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">pie_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Distance per Custom Field') }}</div>
                        </a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartDurationPerTrackChooser') }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">bar_chart</div>
                            <div class="fs-3 text-light">{{ gettext('Duration per Track') }}</div>
                        </a>
                    </div>
                    <div class="col col-6">
                        <a href="{{ url_for('charts.chartCalendar', year=currentYear) }}"
                           class="btn btn-link text-decoration-none">
                            <div class="material-icons rounded-circle fs-1 p-3 text-dark bg-primary-subtle mb-2">calendar_month</div>
                            <div class="fs-3 text-light">{{ gettext('Calendar') }}</div>
                        </a>
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
