<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}
        {% import 'sports/sportMacros.jinja2' as sportMacros with context %}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        {% call macros.headline(gettext('Charts')) %}
                            <span class="material-symbols-outlined filled fs-1">leaderboard</span>
                        {% endcall %}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-12 mx-auto">
                        <h3>{{ gettext('Choose custom field') }}</h3>

                        {% for sportType, customFields in customFieldsBySportType.items() %}
                            <div class="row mt-5 mb-3">
                                <div class="col col-12 mx-auto">
                                    <h3 class="d-flex align-items-center justify-content-center">
                                        {{ sportMacros.sport_type_icon_small(sportType, classes='me-3') }}
                                        <span class="me-3">{{ sportType.get_localized_name() }}</span>
                                    </h3>
                                </div>
                            </div>

                            {% for field in customFields %}
                                <a href="{{ url_for('charts.chartDistancePerCustomField', sport_type=sportType.name, name=field.name) }}" class="btn btn-primary">
                                    <span class="fs-5 text-light">{{ field.name }}</span>
                                </a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
