<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>SportTracker - {{ gettext('Charts') }}</title>
        {% import 'macros.jinja2' as macros with context %}
        {{ macros.header() }}
    </head>
    <body class="bg-dark text-light">
        {{ macros.navbar('charts') }}

        <div id="main" class="center-align">
            <section class="py-5 text-center container">
                <div class="row">
                    <div class="col col-12 mx-auto">
                        <h1>{{ gettext('Charts') }}</h1>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col col-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
                        <h3>{{ gettext('Choose track by name') }}</h3>
                        <p>{{ gettext('Note: Only names with at least two tracks are listed') }}</p>

                        {% for trackType, trackNames in trackNamesByTrackType.items() %}
                            <div class="row mt-5 mb-3">
                                <div class="col col-12 mx-auto">
                                    <h3 class="d-flex align-items-center justify-content-center">
                                        {% if trackType.is_font_awesome_icon %}
                                            <i class="fa-solid {{ trackType.icon }} fa-fw rounded-circle fs-2 p-2 text-dark {{ trackType.background_color }} me-3"></i>
                                        {% else %}
                                            <span class="material-icons rounded-circle fs-2 p-2 text-dark {{ trackType.background_color }} me-3">{{ trackType.icon }}</span>
                                        {% endif %}
                                        <span class="me-3">{{ trackType.get_localized_name() }}</span>
                                    </h3>
                                </div>
                            </div>

                            <div class="list-group text-start">
                                {% for name in trackNames %}
                                    <a href="{{ url_for('charts.chartSpeedPerTrack', track_type=trackType.name, name=name) }}"
                                       class="list-group-item list-group-item-action d-flex justify-content-between fw-bold">
                                        {{ name }}
                                        <span class="material-icons text-primary">send</span>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>

        {{ macros.scripts() }}
    </body>
</html>
